[2022-06-23 09:56] rufuspollock opened #1 "[epic] Flowershow MVP v0.1"
Working app that is useable enough to power the website of flowershow itself so that we can validate the approach

- Key aspect is the template
- Command line is nice but secondary

## Acceptance

* [x] flowershow repo **✅2022-07-01 or earlier**
* [x] default template working **✅2022-07-12 it is working**
* [x] flowershow.app running off that default template **✅2022-07-12 though still needs tidyi

[2022-06-23 10:00] rufuspollock opened #2 "[epic] Demo site"
We'll want a demo site with sample content that is useful for both illustration and testing purposes.

[2022-06-23 10:06] rufuspollock opened #3 "Upgrade old nextjs-tailwind-mdx app to use contentlayer"
Currently using old-style explicit mdx loading. We want to use contentlayerdev now.

## Acceptance

* [x] contentlayer implemented **Done in `templates/default`**
  * [x] one standard type with no required fields **Done with one optional field `title`**
  * [x] used by `[...slug].js` **Done**
* [x] BONUS: content directory comes from siteConfig.js as single string or array (with brief note on what

[2022-06-23 10:36] rufuspollock opened #4 "[epic] Flowershow website v0.1 (landing page)"
Simple, elegant landing page that explains what the product is and provides a way to get started (or signup if that is not ready) so that we can start sharing/testing with people and get early interest

## Acceptance

* [ ] Landing page website in site folder **🚧2022-06-26 in progress atm.**
  * [x] uses default template from `templates/default`
  * [x] Hero section
  * [ ] CTA in hero section **✅

[2022-06-23 21:00] rufuspollock commented on #3
First pass done by @khalilcodes in https://github.com/flowershow/flowershow/commit/3ad675158d4d36c848a7e92643425f9543f70609

[2022-06-24 07:17] rufuspollock opened #5 "Research how we can build a richer metadata database to build site from"
Research how we can build a richer metadata database to build site from e.g. that includes forward/back links so that we can display that information

**UPDATE 2023-03-24: we have done extensive research and arrived at a solution which is to build our own sqlite-based metadata database termed [markdowndb]. This effort is already well advanced and we are actively using a prototype markdowndb in liv

[2022-06-24 10:10] #3 closed

[2022-06-24 11:45] rufuspollock opened #6 "Testing v0.1"
Let's start testing our site asap with e2e tests both for local text and CI.

## Questions

* [x] do we use cypress or playwright? **any works, let's use playwright**

## Acceptance

* [x] One passing e2e tests **✅ 2022-06-27**
* [ ] CI setup (??) - this could be left to later if complex

## Tasks

* [x] Follow instructions here https://nextjs.org/docs/testing#playwright
* [ ] CI Setup - https://p

[2022-06-24 11:50] rufuspollock commented on #2
WONTFIX / DUPLICATE. For now we can just the flowershow website itself as our testing group (and even just have "demo" or "test" pages - see #4

[2022-06-24 11:50] #2 closed

[2022-06-24 11:54] rufuspollock opened #7 "Config can be overridden by user"
When setting up my site I want to change configurable parameters so that I can change things without having to code

Also want to do this without getting into core code so that core remains update-able => separate config

## Acceptance

* [x] Can set a bootstrap config variable from environmental variables e.g. `FLOWERSHOW_CONTENT` **DONE. No need for dotenv as nextjs already supports .env / .env.

[2022-06-24 11:55] rufuspollock opened #8 "Configurable layouts for pages"
Allow for (at least) 2 different layouts: a) "content/documentation" (classic markdown style) b) "landing" (or just "unstyled") which is pretty much a raw page with navbar and footer ie. unstyled

## Acceptance

* [x] can set `layout: {name}` in frontmatter of a markdown page and uses that layout from `components` (ignorecase is supported e.g. layout: abc` matches `layouts/Abc.jsx` **✅2022-06-28 i

[2022-06-25 18:33] rufuspollock commented on #7
Spent a lot of time attempting proper file-based configuration and discovered how complex this was. See extensive notes in description.

[2022-06-26 19:53] rufuspollock commented on #4
OK, so tried building on netlify too. netlify has no issues with symlinks and contentlayer generated correct files. However, ran into build failure with:

[code]

Context:

[code]

Checking around i find that contentlayer introduced an optimization in https://github.com/contentlayerdev/contentlayer/releases/tag/v0.2.1

However, setting NODE_VERSION in netlify to 16.14 or even 17 did not resolve th

[2022-06-26 20:40] rufuspollock opened #9 "Use tailwind in (html/jsx) in markdown / mdx files"
When creating pages for my site I want to (sometimes) use full html with tailwind so i can have fancy layouts or sections

## Acceptance

* [x] can use html with tailwind in my content **✅2022-07-06 you can do this by just adding `content` directory to tailwind which we can do by default now**
* [x] documentation for this **✅2022-07-07 in https://flowershow.app/docs/tailwind**

## Tasks

* [x] Cha

[2022-06-26 20:46] rufuspollock opened #10 "Excalidraw support i.e. docs on producing svg and conversion"
## Acceptance

* [ ] Excalidraw images are published

BONUS (future for now probably)

* [ ] Excalidraw images that are transcluded show up as they should even if using the default notation (i.e. not svg or png transclude)

## Tasks

* [ ] Displaying excalidraw images
  * [ ] Instructions to users on how to configure excalidraw to auto generate svg files (or png files?)
  * [ ] copying them to the

[2022-06-27 11:55] rufuspollock opened #12 "Mermaid support"
When creating markdown pages I want to add mermaid-syntax diagrams so that I can display nicely rendered diagrams

https://mermaid-js.github.io/mermaid/#/

## Acceptance

* [x] I can have have mermaid blocks and they render correctly **✅2022-08-16 see https://flowershow.app/docs/mermaid**

[code]

## Tasks

* [x] research options e.g. existing remark plugins
* [x] Select one to try
* [x] Try it
*

[2022-06-27 16:32] khalilcodes commented on #7
@rufuspollock

Based on some research we may be able to make use of env ...

### Option 1

To handle dynamic variables, set env in `next.config.js` eg. see below
[code]

**Limitations for using the above approach:**
* Strings only
* Build time only
* These are public
***

### Option 2

Add this [webpack plugin](https://webpack.js.org/plugins/define-plugin/) in `next.config.js` -  [next documentati

[2022-06-28 08:25] rufuspollock opened #13 "Use typescript"
Shall we use typescript? Pros and cons please ... **UPDATE: we will trial it ...**

## Acceptance

* [x] Made a choice about trialling
* [x] Do basic setup (what is required?)
* [x] Start using
* [x] Summarize experience and whether we go 100%

## Tasks

- [x] migration analysis
- [x] switch from JS to TS in CLI package **done #300**
- [ ] switch from JS to TS in the template package

## Analysis

[2022-06-28 08:26] rufuspollock opened #14 "Support obsidian wiki links"
Use https://github.com/flowershow/remark-wiki-link-plus

## Acceptance

* [x] Obsidian wiki links e.g. `[[...]]` are working **✅ 2022-07-08** [/demo/wiki-links](https://flowershow.app/demo/wiki-links)
* [x] Bonus: also document in developer section how we add remark / rehype plugins **✅ 2022-07-11** [/meta/developers](https://flowershow.app/meta/developers)

![Screen Shot 2022-07-11 at 5 34 18 AM]

[2022-06-28 21:10] rufuspollock commented on #8
@khalilcodes i think all done - but leave you to confirm and close.

[2022-06-29 09:58] rufuspollock opened #16 "Use changesets"
Set up https://github.com/changesets/changesets for this repo and briefly document it into the developer workflow

Good recent setup instructions https://dnlytras.com/blog/using-changesets/

## Acceptance

* [ ] We are using changesets to track changes e.g. one changeset example
* [ ] Automating doing releases and pushing to npm via github actions (?)
  * [ ] register @flowershow org on npm
  * [

[2022-06-29 10:12] rufuspollock opened #17 "Code highlighting"
Nicely render code blocks in markdown

Suggest we use e.g. use https://github.com/timlrx/rehype-prism-plus

## Acceptance

* [x] Code sections are nicely rendered (i.e. syntax highlight) **✅ using rehype-prism-plus**
* [x] Have an example in demo page **✅ [/demo/code-highlight](https://flowershow.app/demo/code-highlight)**
* [x] Bonus: copy and paste button **seen on hover**

![Screen Shot 2022-07

[2022-07-01 07:45] rufuspollock opened #18 "Monorepo setup and scaffolding"
We will have various things in here probably so let's do the monorepo setup.

## Acceptance

* [x] Monorepo setup with `flowershow` package in it at `packages/flowershow` **🚧2022-10-25 ❓ think we could rename CLI to be named flowershow consistent with npm naming**  **✅ 2022-10-31 olayway: from what I see in how nx handles creating new packages/apps by their generators in monorepos, how they do thi

[2022-07-01 07:47] rufuspollock opened #19 "[epic] Flowershow CLI v1"
Creating a command line interface for flowershow.

## Questions

* [ ] Use typescript for this as a first tryout? **✅2022-07-01 yes**

## Acceptance

* [ ] Have a chosen a framework (shortlist: commander, oclif, arg - but this seems a bit too basic?)
* [ ] `npx flowershow` or simple `flowershow` (if i have globally installed flowershow) command works and prints out basic help message (if no args e

[2022-07-05 10:19] rufuspollock opened #20 "MDX try-out and tutorial with components and data"
To make richer markdown pages we want MDX and be able to use components and data in the page e.g.

[code]

## Acceptance

* ~[x] A demo page working using a component and data that is passed in e.g. `<MyCoolComponent value={props.mydata} />`~ **2022-08-11 (olayway:) we're no longer using demo pages**
* [X] Document these in a new page on flowershow.app e.g. `docs/howto-use-components-in-your-markd

[2022-07-05 13:17] olayway commented on #9
@rufuspollock I've tested this and for me, it only seems to recompile when I'm switching pages in obsidian (which doesn't happen when I don't add `/content` folder to taiwlind config). But there is no infinite reload. It only recompiles once - still weird though.

[2022-07-05 14:12] rufuspollock commented on #5
Yes

[2022-07-05 14:13] olayway commented on #5
Not sure yet, but I think code of this obsidian plugin can be worth checking out:
https://github.com/blacksmithgu/obsidian-dataview

[2022-07-06 11:13] rufuspollock commented on #13
Talking to others it sounds like typescript is a good idea. So we shall do it.

[2022-07-06 11:16] rufuspollock opened #21 "[epic] Trial flowershow with some sites"
Trial product e.g. on flowershow itself or building Life Itself new community site. Possible candidates

* [x] flowershow site itself **🚧2022-07-06 50% - already in use but more needed e.g. for landing page**
* [x] ecosystem site **🚧2022-07-06 60% 2022-07-08 90% migration done and writing up learnings**
* [x] web3 (refactor) ?? **✅2023-03-27 ❌ not needed for now**
* [x] Life Itself community site

[2022-07-06 14:07] rufuspollock commented on #8
FIXED. All working. See `templates/default/layouts`

[2022-07-06 14:07] #8 closed

[2022-07-07 06:43] #9 closed

[2022-07-07 13:26] rufuspollock opened #22 "Feature Docs & Demo Page(s) v0.1"
Create some demo pages that show off the features. This could be all in one or spread out over the features in docs.

## Acceptance

* [x] All core features have a docs page e.g.
* [x] Basic markdown markup (can copy this page over from data-literate) **✅2022-07-13 https://flowershow.app/docs/markdown**
* [x] Wiki Links
* [x] Code Highlighting
* [x] Analytics configuration @olayway (tip look at co

[2022-07-08 10:27] rufuspollock commented on #20
@khalilcodes also if this is complete can you move to in review in board?

[2022-07-08 11:37] rufuspollock opened #23 "Default theme v0.1"
## User story

As a user, I want to be able to start with a basic page layout to publish my content.

## Acceptance

* [x] Front page basic layout
  * [x] Nice hero
  * [x] Rest of page can be markdown (just nicely styled) - cf syntax example after special links section is fine
* [x] Rest of pages - have standard markdown styling **✅2022-07-16 looking nice. see screenshot**
* [x] Navbar **✅2022-07

[2022-07-11 12:56] rufuspollock commented on #20
Based on further research into contentlayer it does look like you are supposed to be import components and assets. The key point is the that import directory is set to `contentDirPath` i.e. `content` in our case. See https://github.com/contentlayerdev/contentlayer/issues/8 and https://github.com/contentlayerdev/contentlayer/issues/11 and especially https://github.com/contentlayerdev/contentlayer/i

[2022-07-11 12:59] rufuspollock opened #24 "[inbox][epic] Docs and Site"
When coming to Flowershow for the first time i want to read the docs to try it out.

This is not a real issue but a catch-all for planning and tracking docs work.

See the 4-fold approach to https://documentation.divio.com

![image](https://user-images.githubusercontent.com/180658/200555900-a0afc8b6-7cee-4ac8-a34c-1b16ad0b1355.png)

## Misc - Jan 2023

Front page

- [ ] clear and up-to-date list o

[2022-07-12 10:11] olayway opened #25 "Post info about flowershow on different forums"
Create a post about Flowershow and publish it on relevant forums.

## Tasks

* [X] Draft copy in gdoc for announce ✅ **2022-08-03 created in [HackMD](https://hackmd.io/4FpZI4wlRL6cXh_wh9Jk5A?view)**
* [X] Identify forums to post in and post there:
  * [x] Obsidian forum ✅ **2022-08-17 [see post](https://forum.obsidian.md/t/flowershow-a-free-open-source-tool-for-publishing-your-obsidian-vaults/4196

[2022-07-12 10:51] rufuspollock commented on #14
@khalilcodes the demo should have a working example not just the code for doing it. Could we add that?

[2022-07-12 10:54] rufuspollock commented on #17
FIXED. Looks great. See https://flowershow.app/demo/wiki-links

PS: @khalilcodes one thing is i think rather than having in demo i think we put this in /docs/ since it is basically documenting and demoing a feature.

[2022-07-12 10:54] #17 closed

[2022-07-12 11:18] rufuspollock commented on #14
FIXED. Actually all working. Note will move docs/demo to https://flowershow.app/docs/wiki-links

[2022-07-12 11:18] #14 closed

[2022-07-12 11:23] rufuspollock commented on #22
This issue is now not called Demo Page but we still want docs pages for each feature.

[2022-07-12 11:30] rufuspollock opened #26 "Assets folder support"
When I create stuff in `content/assets` (hard-code for now) i want that to show up on the site at `/assets` so my links work in my markdown

FUTURE: assets configurable and set up as part of scaffolding

## Acceptance

* [x] assets folder in flowershow.app works **✅2022-07-21 this is now working.**
* [x] rough docs for this (for now can explain you need to manually symlink and in future you do X)

[2022-07-12 11:39] rufuspollock opened #27 "Table of content support in markdown"
When writing my page I want to include a table of contents in the main body of the page (at a location I choose) so that people can see the overview of what is written

Can be quickly implemented with https://github.com/remarkjs/remark-toc (though note connection with slug generation for headings)

## Acceptance

* [x] Can use some kind of indicator e.g. `## Table of Contents` or `{toc}` or whatev

[2022-07-12 11:40] rufuspollock opened #28 "Forward Links"

[2022-07-12 11:41] rufuspollock opened #29 "Back Links"
Show backlinks for a page (optional / configurable). Backlinks are all the pages that link to this page.

[2022-07-12 13:05] olayway opened #30 "Create a few different themes to choose from"
TBD

[2022-07-13 07:10] rufuspollock commented on #13
@olayway we haven't yet switched to this have we? I think the plan is to do so and probably requires some minor setup. If so can we note the commits and/or updates?

[2022-07-13 07:28] rufuspollock opened #31 "Google Analytics improvements"
Already have this roughly working. However one issue seems to be that it is tracking page titles rather than page urls at least on evidence of web3 site (? to be confirmed)

## Acceptance

* [x] Setup
  * [x] Tracking page urls (instead of or as well as page titles) **✅2022-07-22 INVALID - actually tracking page urls. Just that page names show by default. See screenshost just below showing the abi

[2022-07-14 10:40] olayway commented on #20
@rufuspollock, @khalilcodes I've just tested another way to pass data to components, that doesn't require modifications to `[[...slug].js` by the user and enables per-page data passing. This was just a quick test, so I wouldn't consider it ready to merge, but please take a look: https://github.com/flowershow/flowershow/pull/32

[2022-07-14 11:22] rufuspollock commented on #20
@olayway

- 👏 for having a go … (and great PR summary). And it is a good approach
- What’s good: creates a level of indirection/separate that we can store data in
- And … I think it would be useful to propose a solution and discuss before we go ahead to avoid wasted effort and find the best approach (E.g. we can discuss pros and cons of a given approach)
- My question here would be things like
 -

[2022-07-14 11:47] rufuspollock opened #33 "Flowershow logo"
Want a nice logo we can use in nav, footer etc

Current status: from reshot.com - **Went with flower tulip from reshot.com https://www.reshot.com/free-svg-icons/item/flower-tulip-B5X8F7YZCE/ Not final though**

[2022-07-14 11:55] rufuspollock opened #34 "Search functionality in flowershow.app website"
When on flowershow website i want to quickly search for information

## Acceptance

* [x] Search in navbar a la tailwindcss.com etc ✅ **PR #81**
* [x] Docs for this feature ✅ **done  [/docs/search](https://deploy-preview-81--spectacular-dragon-c1015c.netlify.app/docs/search)**
  * [x] user section explaining what search is and maybe short screenshot.
  * [x] admin section explaining how to configu

[2022-07-14 11:58] rufuspollock opened #35 "[Epic] Blog support"
What is a blog?

- [Technical] A page with set of posts usually shown in reverse order
- [User Needs] show news / updates. usually more polished or "featured" content (not so much a notebook)

Note: the functionality of a blog and a news section are pretty much identical from a technical perspective. So in everything we write here about blogs also can be used to implement news.

## Acceptance

- [

[2022-07-14 22:24] olayway opened #36 "Link previews on hover"
Distinguish external and internal link previews. For now focus on internal links.

Note we already implemented this in web3.lifeitself.org so i think a question of porting this over - see https://github.com/life-itself/web3/issues/150 and PR https://github.com/life-itself/web3/pull/162

## Acceptance

- [ ] When i hover over an (internal) link i get a preview of the contents (e.g. first X words) o

[2022-07-14 22:29] olayway opened #37 "Visualize knowledge graph of notes (network graph)"
NB: this depends on having a database of links (especially backlinks) - see #5 for research on this.

PKM tools like [obsidian](https://help.obsidian.md/Plugins/Graph+view) and [logseq](https://docs.logseq.com/#/page/knowledge%20graph) have a network graph like the below. We want to be able to provide something like this in Flowershow.

![image](https://user-images.githubusercontent.com/180658/200

[2022-07-15 14:09] olayway opened #38 "Alternative / Competitor Comparison Content Plan"
It is standard in product marketing and SEO to publish comparison content against leading alternatives. The intent is to capture high-intent searches (for example, "X vs Y", "Y alternatives"), clarify positioning, and reduce decision friction with transparent feature/cost/use-case comparisons.

See for more background and plan https://github.com/flowershow/flowershow/blob/main/docs/plans/2026-02-2

[2022-07-15 14:27] olayway opened #39 "Changelog page on Flowershow website"
It would be nice to display the changelog file on the Flowershow website. It's good to show users that the product is under active development.
A great example from Penpot: https://penpot.app/dev-diaries.html.
Another great example from GitHub: https://github.blog/changelog/

https://linear.app/changelog is really good (@rufuspollock 2026-01-15)

<img width="1122" height="906" alt="Image" src="htt

[2022-07-15 14:59] olayway opened #40 "Add contribution instructions to README file"

[2022-07-15 18:05] olayway commented on #23
@khalilcodes somethings off here as well. Could you please look into it? :slightly_smiling_face:

![image](https://user-images.githubusercontent.com/52197250/179284415-eb7e091c-24a9-430b-b156-1f85686d63b9.png)

[2022-07-16 17:32] olayway opened #41 "Inline code rendering"
![image](https://user-images.githubusercontent.com/52197250/179365816-4fea97bb-c55e-4df8-9954-21a21245d94b.png)

[2022-07-16 17:46] olayway opened #42 "Multiline blockquotes support"
In Obsidian, you can create multiline blockquotes by returning at the end of the first line and starting the next one with `>` (which is added automatically in Obsidian by hitting enter while being on the end of the first line.)

**Raw example**:
[code]

**How it renders in Obsidian:**
![image](https://user-images.githubusercontent.com/52197250/179528836-7597fcba-0c3a-42bd-8fff-7a602f29a2ee.png)

[2022-07-16 18:54] olayway opened #43 "Text highlighting support"
Text wrapped in double `=` should be highlighted.

**Obsidian:**
![Screenshot_2022-07-16_20-58-52](https://user-images.githubusercontent.com/52197250/179368579-bb9ae917-ed9c-4189-8d91-afebcdb0eab1.png)

**Flowershow:**
![image](https://user-images.githubusercontent.com/52197250/179368599-64374c86-8dad-4b4c-8db7-3859abcef50e.png)

[2022-07-16 19:18] olayway opened #44 "Comments support"
Would be nice not to render user comments.

**Flowershow:**
![image](https://user-images.githubusercontent.com/52197250/179369099-feb15584-cf63-4f02-ab3b-f3dda252fc53.png)

**Obsidian preview:**
![image](https://user-images.githubusercontent.com/52197250/179369113-ba661696-72c1-4421-acae-b2db2b28e13b.png)

[2022-07-16 20:31] olayway opened #45 "Empty pages cause build error"
Not sure if we should fix this or add a note somewhere in the docs, that there shouldn't be any empty pages in the `content` dir.

## What happens?
Adding an empty page to the `content` dir (`content/docs/roadmap.md` in this case) results in a build error:

[code]
![image](https://user-images.githubusercontent.com/52197250/179370484-2d64ba65-dbd0-4fbd-82ac-cf7fdd73e395.png)

## Notes
This is becau

[2022-07-17 11:57] olayway commented on #27
@rufuspollock, what do you mean by **in markdown**? I's this how it's supposed to work?

(from our docs)
![image](https://user-images.githubusercontent.com/52197250/179397026-6418c971-aa11-4090-b554-123e2629ddf2.png)

[2022-07-17 12:27] olayway commented on #27
Maybe it would be better to use a boolean switch in frontmatter for this, instead of creating an empty heading?

[2022-07-17 14:58] olayway opened #46 "Broken links to index pages (when using obsidian)"
## What happens?
Internal links created in Obsidian, that point to `some_folder/page_name` are converted - as expected - to URLs which end with `some_folder/page_name`. Unfortunately, `index.md` pages are treated exactly the same, so resulting URLs end with `some_folder/index`, which results in 404.

**Example:**
In `docs/index` page, I'm creating an internal link to `demo/index` page, like so: `[

[2022-07-18 09:15] olayway opened #47 "Add anchor links to headings"
In Obsidian you can create internal links that point to a specific heading in a given file, by adding `#` and the name of the heading to the link. E.g. `[[docs/roadmap#Callouts]]`, would point to Callouts heading in  `/docs/roadmap.md`.
Such links to headings are correctly converted to URL's (in this case it would be `[root_URL]/docs/roadmap#callouts`) but since headings at the moment don't have i

[2022-07-18 11:35] rufuspollock commented on #42
That is correct (commonmark) markdown if no trailing space on first line. For github flavored markdown it should though not sure about how the gfm support in remark works.

A proper test would be the following which i think works.

[code]

Aside: good to add an example of the docs page for the relevant feature and see what happens.

[2022-07-18 11:40] rufuspollock commented on #4
Updated home page with main benefits.

[2022-07-18 14:37] olayway commented on #42
But the above lines end up separated by an additional empty line...

Since we are mostly targetting Obsidian users, I think this is worth taking into account how it works in Obsidian. (+ it seems to work the same here on GitHub, although I couldn't find confirmation for this in the GFM spec).

I've noticed it **while** working on such a page (demo for markdown/obsidian syntax support), but I'll ad

[2022-07-19 08:21] rufuspollock opened #50 "Update github README"
A bunch of people will come to the github and so worth having some reasonable content in the README along with clear pointers to the docs.

## Acceptance

✅ **2022-07-28** #76

* [ ] README is updated ✅
* [ ] has a reasonable intro ✅
* [ ] Screenshot ✅
* [ ] Link to docs ✅
* [ ] Contribution instructions ✅

[2022-07-19 08:29] rufuspollock opened #51 "Social Buttons e.g. in navbar or footer"
Like we have on web3 etc

![image](https://user-images.githubusercontent.com/180658/184837642-8c479713-6621-49a9-aa7f-15f6f16d6436.png)

2 parts here:

- Having the content / data ⏭️ get a standard structure for this in config e.g. following timlrx or our setup we used in web3
- Where to use it (automatically) ⏭️ suggest footer (i.e. for each value set we use it)

Do we provide standard values for

[2022-07-19 08:33] rufuspollock commented on #4
@olayway would welcome your thoughts on the CTA approach (see CTA section i've created with 2 options).

[2022-07-19 16:32] olayway commented on #35
This may be useful: There is an option to specify Contentlayer document types for single files, rather than based on `filePathPattern`. You can do that by adding `type: [TypeName]` directly in the document frontmatter.

https://www.contentlayer.dev/docs/sources/files/mapping-document-types#explicitly-specifying-document-type

[2022-07-19 21:25] olayway opened #53 "Broken links to random pages"
## What happens
Sometimes internal links cause remark-wiki-link-plus errors (`TypeError: Cannot read properties of undefined (reading 'startsWith')`). I'm not sure how the pages that cause errors differ from the ones that don't though.

## Steps to reproduce
1. Create an internal link to `docs/advanced/contentlayer`, e.g. in `docs/essentials/layoutes` where I intended to add it.
2. This results in

[2022-07-20 09:41] #22 closed

[2022-07-20 11:12] rufuspollock opened #55 "Do a teardown on the theme to understand how it works (put in e.g. hackmd)"

[2022-07-20 11:15] olayway commented on #23
Fixed!

[2022-07-20 11:15] #23 closed

[2022-07-20 11:16] olayway opened #56 "Dark and light theme"

[2022-07-20 11:19] rufuspollock opened #57 "SEO support"
When creating a site I want to set description, image, title set on page (and have default values) so that have good SEO

There are really two parts to this:

- Site-wide SEO: common and/or default SEO values for the whole site (and especially the front page)
- Per-page SEO: SEO per page that overrides default SEO values. These would derive from frontmatter and/or be calculated e.g. title from mar

[2022-07-20 11:22] #1 closed

[2022-07-20 11:27] rufuspollock commented on #46
My guess is easiest proper fix for this would be in wiki links remark plugin

[2022-07-20 11:49] rufuspollock commented on #34
@olayway can we submit now to algolia docsearch as can take a bit of time to get accepted.

[2022-07-20 13:13] khalilcodes commented on #20
@rufuspollock @olayway

when importing a component in md, it throws an error - `unexpected "<"`

For example the import statement as below:

[code]

gives the following error:

[code]

## Further investigation

If the return statement of the component is a string, then it renders without any errors.

for example if the following is the component:

[code]

and we import it in md like below:

![Scre

[2022-07-21 09:36] rufuspollock commented on #20
@khalilcodes this looks like something on contentlayer - have you opened an issue yet in their issue tracker? That's the quickest way i think to get insight here. The issue would be something like:

"How do import contents and data into my mdx documents"

You should reference other relevant issues to indicate you have read them and made an effort to "read the docs" before asking. Then someone will

[2022-07-21 15:03] rufuspollock commented on #26
@khalilcodes i think this is mostly done and we just need a docs page called e.g. `docs/assets` that explains that you put static files in a folder named assets ...

[2022-07-21 22:12] khalilcodes commented on #26
@rufuspollock added a rough doc in https://flowershow.app/docs/essentials/assets for symlink and using the assets folder.

[2022-07-22 11:39] khalilcodes commented on #20
https://github.com/contentlayerdev/contentlayer/issues/273

[2022-07-22 11:44] rufuspollock commented on #12
@khalilcodes starting to work on this.

[2022-07-22 11:48] rufuspollock commented on #26
I think we want this at simple `/docs/assets` and a brief explanation of what assets folder is for (e.g. static files). in obsidian/user content this would obsidian attachments. https://help.obsidian.md/How+to/Manage+attachments

[2022-07-22 11:54] rufuspollock commented on #31
FIXED. Deployed and working and nothing to fix in the setup.

[2022-07-22 11:54] #31 closed

[2022-07-22 15:13] khughitt opened #59 "Some ideas relating to the procedural generation of visual elements associated with notes/concepts"
Greetings!

This looks like a really cool project! Thanks for making it open-source from the get-go!

I just wanted to share a few ideas relating to the possible application of viz/proc-gen, discussed briefly with @rufuspollock.

_Basic thoughts_:

1. It could be useful to associate each note (or topic/entity in an eventually knowledgebase implementation) with some visual element.
2. In addition t

[2022-07-25 13:49] #7 closed

[2022-07-26 10:08] olayway opened #60 "Callouts support"
TBD

[2022-07-26 10:14] olayway opened #61 "Obsidian plugins support"
How do we support obsidian plugins in general?

[2022-07-26 10:24] olayway opened #62 "Links to content blocks"
Links to a specific block (paragraph) within a given page, e.g. `[[roadmap#^dcf64c]]`.

See [obsidian docs](https://help.obsidian.md/How+to/Link+to+blocks) for reference.

## Design

**UPDATE 2023-12-12** from https://github.com/datopian/flowershow/issues/62#issuecomment-1843646839

To support these probably want a remark plugin or simple regex pattern match that search for `^six-digit-alphanumeri

[2022-07-26 10:26] olayway opened #63 "Embed images with obsidian syntax ![[...]]"
Link to a file, e.g. `![[abstract-flowers.png]]`.

See [obsidian docs](https://help.obsidian.md/How+to/Embed+files) for reference.

[2022-07-26 10:52] olayway opened #64 "Math syntax support"
Math support is very useful. We'll follow Obsidian who use mathjax (https://help.obsidian.md/How+to/Format+your+notes#Math).

Here's a guide to supporting this in markdown/mdx: https://mdxjs.com/guides/math/

Essence is to use two plugins https://github.com/remarkjs/remark-math/tree/main/packages/remark-math and https://github.com/remarkjs/remark-math/tree/main/packages/rehype-mathjax

## Acceptan

[2022-07-26 11:13] olayway commented on #26
docs related to this to be moved under `/docs` folder

[2022-07-26 11:13] #26 closed

[2022-07-26 14:27] rufuspollock opened #65 "Features / Roadmap section on frontpage"
Add a features list / roadmap (i.e. features we haven't yet done) to the front page.

Can start by copying what we have on https://flowershow.app/docs/roadmap into frontpage and adding feature we have done with links to the docs

Do the basic first ie. use markdown and just headings etc

Later we can do another iteration to make it fancy

## Acceptance

**✅ 2022-07-28 all done in PR #74**

* [ ] F

[2022-07-26 14:31] rufuspollock commented on #4
We have decision on CTA and will implement today.

[2022-07-26 14:33] khalilcodes commented on #12
@rufuspollock updated notes with summary of some tried options.

[2022-07-26 14:34] rufuspollock opened #66 "[epic] Flowershow website v0.2"
## Acceptance

* [ ] #65
* [ ] Nicer version of the benefits section
* [ ] ...

[2022-07-26 14:39] rufuspollock commented on #64
Low priority atm as we are not using it and no-one yet requesting it. Nice to have.

[2022-07-26 14:40] rufuspollock commented on #57
This is high priority as we are about to start sharing on social media (at least for front page to have it).

[2022-07-26 15:08] rufuspollock opened #67 "Tweet link in markdown shows a preview/embed"
See previous effort in web3 https://github.com/life-itself/web3/issues/150

Like we do with youtube ... #88

## Acceptance

* [x] Pasting a twitter link in its own paragraph at line start results in embed e.g. pasting the following results in an embed/preview of the tweet
* [x] Docs page for this **added at `docs/social-previews`**

[code]

## Tasks
- [x] research and proposed solution with time e

[2022-07-26 15:30] rufuspollock opened #68 "Youtube video links show preview/embed"
Video URL links such as `https://www.youtube.com/watch?v=z2uAg-AIs-Y` (Youtube, etc) surrounded by newlines in markdown will embed as iframe or similar on the page.

Similar concept from: https://github.com/agentofuser/remark-oembed

Existing work in web3: https://github.com/life-itself/web3/issues/88 and PR https://github.com/life-itself/web3/pull/98

## Acceptance

* [x] A link like `https://www

[2022-07-26 15:37] rufuspollock commented on #59
@khughitt welcome, thanks for posting!

Really like this idea.

Great idea. Would this be an emoji or image or something else. Would it be auto-generated? (You mention that further down).

I really like the idea of autogenerating plants in some way 😄

🌹 🌷 🥀 💐

[2022-07-26 15:47] rufuspollock opened #71 "Standard Frontmatter"
When creating markdown pages I want to know about some standard frontmatter fields for common functionality e.g. title, date etc so that I can add them and get related functionality

Questions

* [ ] Does this issue include "computing" values for these where missing e.g. for title  and description

## Acceptance

* [ ] Document the following
  * [ ] title
  * [ ] date: publication date. would be u

[2022-07-26 15:56] rufuspollock commented on #64
@khalilcodes this seems so simple that's it worth doing now ...

[2022-07-26 16:14] rufuspollock commented on #34
@olayway i've taken care of submitting this so don't worry.

[2022-07-26 21:35] olayway commented on #4
@rufuspollock I've created a basic form in the hero section and a success page. Here is the draft of the PR -> #72.
This is a draft because there is one issue I've encountered: "405 Method not allowed" after submitting the form locally. If the changes look good to you, maybe we could merge them and test if it works on the deployed version?

[2022-07-27 01:59] khalilcodes commented on #12
@rufuspollock updated the notes for https://github.com/sjwall/mdx-mermaid with further details of issues.

[2022-07-27 08:23] rufuspollock commented on #12
@khalilcodes thanks. I just refactored notes section to be a bit clearer. Could you update the bulleted list at the top of the notes with a summary of current evaluation and recommendation (detail can be left out there and can go below in dedicated section for each option)

[2022-07-27 08:26] rufuspollock commented on #4
@olayway merged and we can now test.

[2022-07-27 15:59] #4 closed

[2022-07-28 10:01] rufuspollock commented on #4
FIXED. **✅2022-07-28 All DONE**

![image](https://user-images.githubusercontent.com/180658/181478918-f0d90f5e-44d0-40ac-b3fe-76e8b15f5c11.png)

[2022-07-29 16:27] olayway commented on #66
@rufuspollock, since both features/roadmap and benefits sections on the front page are done, I guess the last thing we would want to improve would be a nicer version of the features/roadmap section (conversion from simple md to some fancy html elements) ?

[2022-07-29 16:47] rufuspollock commented on #66
I think for now we leave and focus on prepping the announce post and adding features.

[2022-08-02 08:54] #50 closed

[2022-08-02 10:00] #65 closed

[2022-08-02 10:39] khalilcodes commented on #12
@rufuspollock updated the top of notes with a summary

[2022-08-02 10:53] rufuspollock commented on #20
@khalilcodes as next step can we commit two test pages (can be in site/content) showing it working and not working as per your notes with some sample component in the `/site/components/`

[2022-08-03 02:09] khalilcodes commented on #20
@rufuspollock would it be best if we commit these to a separate branch ?

[2022-08-03 08:00] rufuspollock commented on #20
@khalilcodes don't think it is worth it and it would be good to have them deployed. Just put them in e.g. `/test/{some name}`

[2022-08-03 12:19] khalilcodes commented on #20
@rufuspollock added the test commits and commented on the issue with steps to reproduce.

[2022-08-03 16:38] khalilcodes commented on #34
@rufuspollock config requirements for implementing search in algolia - App ID, Api key, Index name.

This is how it looks as per current PR status - #78

[2022-08-04 22:57] khalilcodes commented on #53
@olayway updated to latest package v1.0.1 with implemented fix.

[2022-08-04 23:00] khalilcodes commented on #46
@olayway this bug has been fixed with the latest update in remark-wiki-link-plus ie., v1.0.1 and package.json has been updated to reflect the changes.

[2022-08-06 20:30] rufuspollock commented on #46
@khalilcodes i'd have also liked that README.md also worked the same way - is that an easy fix?

[2022-08-06 20:31] rufuspollock commented on #34
@olayway do you want to review this one? You also have the config info we need here - i'm not sure all of it can be public (?). If not we may need to pull some from env variables.

[2022-08-08 10:09] khalilcodes commented on #46
@rufuspollock yes I believe it is and will update soon. 👍

[2022-08-08 11:51] khalilcodes commented on #20
@rufuspollock based on the comment in the open issue, it has been suggested that the issue lies in our project setup and to rather use `.jsx` or `.tsx` extensions instead. I will test out a new bare project (ie., without any symlinks etc) and see if this is the case.

[2022-08-08 12:22] rufuspollock commented on #20
Can you wait for me to review before we do another trial.

[2022-08-08 13:35] rufuspollock commented on #12
@khalilcodes if this is working and relatively clean let's go with this, perhaps documenting clearly here the approach and what improvements we would like in future (with perhaps some comments in code e.g. in contentlayer segment - that can also ref here - explaining that this is for mermaid support). That way 6m or a year from now when we look at the code we can understand why we did what we did

[2022-08-08 13:55] rufuspollock commented on #34
@olayway i've gone ahead and reviewed quickly.

[2022-08-09 06:53] #64 closed

[2022-08-10 10:37] olayway commented on #20
@rufuspollock, @khalilcodes I couldn't resist trying out (¯\_(ツ)_/¯ :smile:) so I'll share what I've found out

1. Changing files extension from `.js` to `.jsx` does seem to work. You can see a flash of the button on the page, but another error pops up:

![image](https://user-images.githubusercontent.com/52197250/183879241-56f05128-0306-4b00-b320-8bb99a4ddc7c.png)

2. I've created a separate testi

[2022-08-10 10:44] olayway commented on #34
Done in PR #81

[2022-08-10 10:44] #34 closed

[2022-08-10 11:13] rufuspollock opened #82 "Review existing Obsidian Publishing options"
Write up our existing notes on existing Obsidian Publish options (Obsidian Publish and alternatives) so that we are clear for ourselves (and others) why flowershow could be useful to obsidian community

##  Acceptance

* [x] Get list of obsidian publish alternatives (into a note in site)
* [x] Collect following metadata (at least on most interesting ones)
* [x] Review obsidian publish itself
* [x]

[2022-08-10 11:16] olayway opened #84 "Website front page enhancements v0.3"
## Acceptance

- [x] add a button "GitHub" to the hero
- [x] hide quick start for now
- [x] “Backed by an experienced team” (?) instead of  "Backed by a team of data geeks"
- [x] "Built by LifeItself and (?) Datopian" in hero (see web3)
- [x] Tweak the signup text
  - [ ] make more sign-uppy **not sure what that means, but I've tweaked it a bit to sound more friendly 😀**
  - [ ] mention how we use

[2022-08-10 22:23] olayway commented on #53
@khalilcodes Works! Thank you!

[2022-08-10 22:23] #53 closed

[2022-08-10 22:27] olayway commented on #46
@khalilcodes Works! Thank you 🌷!

[2022-08-10 22:27] #46 closed

[2022-08-11 12:27] olayway opened #85 "Draft an email with latest and upcoming changes for subscribers"
## Acceptance
- [x] draft of an email with the latest and upcoming changes **06-10-22 https://hackmd.io/fbM5Mg0IRaKzzDCl5kULNw?both**
- [x] email sent to subscribers

## Notes
V.1
![image](https://user-images.githubusercontent.com/52197250/195302822-1981b613-0c5f-408b-8613-bfd2e1f16692.png)
![image](https://user-images.githubusercontent.com/52197250/195303077-7d6359ce-8125-481e-96cc-f8399b87fb64.p

[2022-08-11 13:52] #84 closed

[2022-08-11 15:14] olayway opened #88 "Separate default (template) components and user defined components"
When customizing/enhancing my site I want to know how to use components (and data for them) so that I can cleanly separate from custom content from flowershow (so that i can do upgrades, keep things simple)

## Acceptance

* [x] This works ✅ **2022-08-17 works, we have our custom components for Flowrshow website in `site/components` folder**
* [x] Documented in the docs ✅ **2022-08-17 done, 2022-0

[2022-08-11 21:47] olayway commented on #20
@rufuspollock, @khalilcodes I've added a bunch of comments to the issue description. Please take a look.

[2022-08-11 21:54] olayway commented on #20
I'm also almost done with creating a doc page so I'm not writing everything I've found while researching and testing MDX capabilities here. But basically importing custom components/data, defining custom components/data(variables) locally (directly within markdown), passing it then by props or evaluating JS expressions - all works. I'll submit a PR tomorrow.

[2022-08-12 17:40] rufuspollock opened #91 "More complex navbar menu with dropdowns"
## Job story
I want to have support for a dropdown menu with a max of 1 level

## Acceptance
* [x] onClick&&onHover Menu dropdown  in Desktop view
* [x] onClick Menu dropdown  in Mobile view
* [x] add docs  **added [here](https://github.com/flowershow/flowershow/blob/main/site/content/docs/dropdown.md)**

## Tasks
* [x] Look at what vuepress supports
* [x] Menu dropdown in Desktop view **Menu work

[2022-08-15 17:54] olayway opened #92 "Website front page enhancements v0.4"
Variety of enhancements to site

## Acceptance

### Navbar

* [x] Forum link to github discussions **✅2022-08-17 did this **
  * link itself should be in config - links to #51
  * [x] icon - suggest chat-alt-2 from https://heroicons.com
* [x] Docs link in navbar
* [ ] About link in navbar with about page (can have more info) - depends on #99

### Footer

* [x] Fix separator color
* [ ] Social medi

[2022-08-16 08:14] #20 closed

[2022-08-16 08:39] rufuspollock commented on #63
FIXED in #87.

[2022-08-16 08:39] #63 closed

[2022-08-16 08:41] rufuspollock commented on #62
@khalilcodes isn't this already supported in remark-wiki-link-plus (ie. you support `[[xyz#anchor-link]]`?

[2022-08-16 08:50] rufuspollock opened #93 "Making config available to each markdown file"
Is this possible?

That way each markdown file can use things from config (automatically)

e.g.

[code]

[2022-08-16 08:59] rufuspollock commented on #41
I think this is working as it should e.g. check the rendered html and you can see it is a code block. I think the issue is just we don't like the styling atm. @olayway any ideas what styling you'd like?

[2022-08-16 09:06] rufuspollock commented on #43
WONTFIX. I'm going to close as wontfix for now as I don't think we want/need to support this IMO. I've never used it and never seen anyone use it and it's nonstandard commonmark.

[2022-08-16 09:06] #43 closed

[2022-08-16 09:11] rufuspollock commented on #44
Given we have MDX you could just use html/jsx commenting which mdx supports i believe see e.g. https://github.com/mdx-js/mdx/issues/184

My suggestion here is we just add a page to document this e.g. `docs/comments`

[2022-08-16 09:15] rufuspollock commented on #27
You often want to control where ToC shows up so boolean does not work as well. I think we can just use https://github.com/remarkjs/remark-toc

[2022-08-16 09:17] rufuspollock opened #94 "Full site Table of Contents"

[2022-08-16 09:18] rufuspollock opened #95 "RHS ToC (sidebar current page table of contents)"
A user can quickly eyeball the contents of the current page by looking at the table of contents (ToC) on the right-hand side. He can also quickly navigate to different sections of the current page by clicking on a section title in the ToC and see where he's currently at thanks to highlighting of the currently focused section.

## Acceptance

- [x] RHS table of contents shows content from current p

[2022-08-16 11:24] rufuspollock opened #97 "Linkable headings"
When on a page I want to get the link to a section so that I can share it with others

Best UX IMO is when hovering over a heading you get a pop up that you can click on that gives you the link (and?) updates the url with the anchor.

see e.g. https://tailwindcss.com/docs/responsive-design for a pretty perfect example (github readmes are also very good)

- Only shows when you hover the heading
- N

[2022-08-16 12:07] rufuspollock opened #98 "All page listing all other pages"
When a search engine (or algolia) comes to the site it wants to find all the pages so that they are indexed

When ?? I want to look at all the pages you have so that I can ?? find what i want

As we have on web3 we may want a simple option to have an all page that lists all the pages.

Not super useful but cheap to do ...

## Acceptance

* [ ] A page listing all published pages exists at `/_all` *

[2022-08-16 12:35] #6 closed

[2022-08-16 12:45] rufuspollock commented on #62
Actually this may be tough depending on how obsidian inserts those anchors into the file. Need to research that.

[2022-08-16 13:08] rufuspollock commented on #57
@khalilcodes to add image support as last item.

[2022-08-16 13:30] rufuspollock opened #99 "About page"
We want an about page telling more about the project

## Acceptance

* [x] Why: motivation/our passion + overall need **✅2022-08-23 brief intro - a tool for publishing your digital garden**
* [x] What: what are we aiming to build (vision) **✅2022-08-23 bigger vision**
* [x] Who: Team **✅2022-08-25 have Rufus and Ola which is enough for now** **🚧2022-08-23 added rufus. Now needs e.g. @olayway bio a

[2022-08-16 13:31] rufuspollock opened #100 "Chat channel for project (?)"
Do we have a chat channel for the project - or just stick with github discussions?

[2022-08-16 13:55] rufuspollock commented on #12
FIXED. All working. See https://flowershow.app/docs/mermaid.

Well done @khalilcodes

[2022-08-16 13:55] #12 closed

[2022-08-17 13:49] rufuspollock opened #103 "How publishing works on front page"
When visiting the site I want an overview of how I use Flowershow to publish my stuff so that I have a better idea how to use it and if i want to use it

* Have your content on disk
* Download `flowershow` app/cli (`npm install flowershow` or even `npx flowershow publish` or download it)
* In your directory run `flowershow publish [filename]`
* Get a response like: live at https://xyz.flowershow.s

[2022-08-17 13:57] rufuspollock commented on #21
@olayway can you put notes / links about how we sorted out using custom components and our overall learnings:

* [ ] Doing html/tailwind stuff in mdx fully works
* [ ] Link to the MDX learnings and point to folder where we have custom components

[2022-08-17 13:59] rufuspollock opened #104 "Trial with ecosystem website v2"

[2022-08-17 14:32] olayway commented on #103
@rufuspollock I've created a very simple version of it with 3 steps, you can see it live

[2022-08-17 14:39] olayway commented on #92
@rufuspollock I'd also update the frontpage hero image once image transclusions work. And maybe also show a Mermaid graph on the screenshot?

[2022-08-17 17:05] rufuspollock commented on #92
FIXED. @olayway for now i think we can leave the hero screenshot for now as looks pretty good and come back to it in a little bit.

[2022-08-17 17:05] #92 closed

[2022-08-18 10:56] olayway commented on #82
@rufuspollock  can we close this?

[2022-08-18 11:36] rufuspollock commented on #103
@olayway looks good - now we can make it fancy 😄

[2022-08-19 10:16] olayway commented on #25
@rufuspollock if we're not going to post on other forums for now, I'll remove it from from the last sprint and leave it in the backlog maybe?

[2022-08-19 10:21] olayway commented on #57
@rufuspollock, @khalilcodes I think this issue can be closed now?

[2022-08-19 12:45] olayway commented on #88
@rufuspollock, @khalilcodes see my comments above re how we're currently separating template components from custom components. Let me know if you have some thoughts on that.

[2022-08-19 12:54] olayway commented on #88
Btw, I've tried to figure out the starting point (folder) for components import paths in MDX files (e.g. ../components/SomeTemplateComponents.jsx) but without success. Do you maybe know what it is?

[2022-08-19 13:13] olayway commented on #21
@rufuspollock, done

[2022-08-19 14:11] olayway opened #108 "Make algolia search optional"
Not everyone needs Algolia search on their website I think. Let's maybe hide it by default and add an option to enable it in the config file so that people who don't have Algolia set up don't have a nonworking search field in their navbars.

[2022-08-19 14:11] olayway commented on #108
@rufuspollock, @khalilcodes what do you think?

[2022-08-23 09:55] olayway opened #109 "Create custom components out of HTML blocks on our frontpage"
Now we can import and use custom components in MDX we can extract parts of the HTML blocks (repeating or complex) we are using in `index.md`, so that it's cleaner and easier to control/adjust.

[2022-08-23 10:25] olayway commented on #99
@rufuspollock I think you have more to say in this matter 😀 I'm not even sure where to start. I think it would be better if you prepared a draft or even bullet points and I would start from there.

[2022-08-23 10:31] olayway opened #110 "Add section about MDX components to the mdx doc page"
Atm we have it mentioned only on one of the test pages. This should also be described in the docs page related to MDX.

[2022-08-23 10:49] rufuspollock commented on #108
@olayway big +1. I think probably pliny has done this well https://github.com/timlrx/pliny - https://github.com/timlrx/pliny/pull/35

[2022-08-23 11:12] rufuspollock commented on #88
@olayway should this move into the the site content somewhere e.g. docs (?)

[2022-08-23 11:21] rufuspollock commented on #82
FIXED. All done - just need to post up which i will do later.

[2022-08-23 11:21] #82 closed

[2022-08-23 11:29] rufuspollock opened #111 "Trial on Ecosystem v0.2"
This is also a chance to trial out a sort of upgrade.

## Acceptance

* [x] ecosystem.lifeitself.us is running flowershow v0.2 and working **🚧2022-09-20 pending pull request https://github.com/life-itself/ecosystem/pull/88**
* [x] custom components are separated out
* [x] learnings
  * [x] contentlayer stuff
  * [x] components stuff
  * [x] summary of improvements we backported!

Key back-ported f

[2022-08-23 11:32] rufuspollock opened #112 "Tutorial on using flowershow to create a website with custom home page"

[2022-08-23 11:35] rufuspollock opened #113 "Default theme v0.2"
When installing flowershow I want a simple elegant them out of the box so that I can get started quickly

## Acceptance

* [ ] Elegant default theme
* [ ] (BONUS) easy to customize fonts and colors

[2022-08-23 11:38] rufuspollock opened #114 "Design CLI install experience"
When i have markdown i want an easy way to use flowershow to create my site so that it is published

## Acceptance

* [x] Have plan of work re UX and implementation e.g. #19 **🚧2022-09-01 here https://flowershow.app/meta/install-design** **✅2022-10-27 this was done at least by the alpha release on Nov 7 2022 as we had full CLI https://flowershow.app/blog/alpha-release #134**

## Tasks

Preliminary

[2022-08-23 11:48] khalilcodes commented on #57
@olayway og:image was added on last merge and og:title to match site title is still wip ...

[2022-08-23 12:36] olayway opened #115 "Optional Next/Previous buttons at the bottom of pages"
TBD

e.g.
![image](https://user-images.githubusercontent.com/52197250/186159448-3a2e8154-a211-4199-9a94-0498997afc9c.png)

[2022-08-23 13:50] olayway commented on #57
@khalilcodes a few things I've noticed:

https://github.com/flowershow/flowershow/blob/863f62f542d5fef1fd00599d2b156602695aa30f/templates/default/config/siteConfig.js#L3-L5

https://github.com/flowershow/flowershow/blob/863f62f542d5fef1fd00599d2b156602695aa30f/templates/default/pages/_app.js#L32-L37

1. I don't think it makes much sense to have `title` and `description` properties outside of `next

[2022-08-23 13:53] olayway commented on #57
One more thing. I think we don't need this part in our `Layout.js` as we're setting all the SEO values in `MDX.js` file.

https://github.com/flowershow/flowershow/blob/863f62f542d5fef1fd00599d2b156602695aa30f/templates/default/components/Layout.js#L10-L12

[2022-08-23 14:03] olayway commented on #57
Also, this line

`     ...config.nextSeo.openGraph `

 overwrites all per-page settings. So it's not possible to e.g. use another image for a single page.

https://github.com/flowershow/flowershow/blob/863f62f542d5fef1fd00599d2b156602695aa30f/templates/default/components/MDX.js#L20-L37

Default values are already set in `DefaultSeo` in `_app.js`, so I think this line is redundant whatsoever.

[2022-08-23 14:54] olayway commented on #25
Flowershow announced on Obsidian Forum and Reddit

[2022-08-23 14:54] #25 closed

[2022-08-23 15:03] rufuspollock opened #116 "[inbox] Blog posts"
- [ ] Obsidian publishing options post based on #82 (could pretty much copy and paste)
- [ ] abc

[2022-08-23 17:53] khalilcodes commented on #57
Hey @olayway please review following points:

By this what I'm understanding is that our config should be as below ?
[code]
It was proposed above in acceptance that the `title` and `description` values should get set from other config values.

Are we looking to keep the title like below instead ? (ie., no format)

<img width="350" alt="Screen Shot 2022-08-23 at 8 36 19 PM" src="https://user-images

[2022-08-23 21:10] #103 closed

[2022-08-23 21:20] rufuspollock opened #118 "Smartypants support e.g. for ndash, mdash etc"
When writing markdown i want to use `--` and have it turn into ndash so that i can write elegantly

Suggest we can use https://github.com/silvenon/remark-smartypants

And then turn off quotes stuff and just have ellipsis and oldschool dash support.

## Acceptance

* [x] `--` becomes ndash
* [x] `---` becomes mdash
* [x] `...` becomes ellipse
* [x] Add a brief comment to `/docs/syntax` with a demo

[2022-08-23 21:53] rufuspollock commented on #99
@olayway now have a page up https://flowershow.app/about - would you be up for adding yourself as a team member - can link your avatar for headshot and have a brief bio.

[2022-08-24 00:47] airtonix opened #119 "allow publishing to own infrastructure"
- I don't want to use your `https://*.flowerapp.sites`
- I want to push it to my own s3/vercel/githubpages/ssh/whateverhostingbbqomg

[2022-08-24 09:07] olayway opened #120 "Website front page enhancements v0.5"
## Acceptance

- ~[ ] fixed navbar content responsiveness~ **02/09/2023 outdated**

![image](https://user-images.githubusercontent.com/52197250/186376526-81dcb0fc-8be8-403e-a11e-ef5378b29b6c.png)
![image](https://user-images.githubusercontent.com/52197250/186376687-7e365ecf-dd67-4ac4-91e6-a222cd6fc584.png)

- ~[] a bit smaller images in the "How it works" section for small screens~

![image](https

[2022-08-24 09:29] olayway commented on #57
Yup, I'd keep SEO-related stuff from other (e.g. presentation-related) stuff separate.

[2022-08-24 09:38] olayway commented on #57
@khalilcodes I just think that setting this title template should be optional and customizable in the config file. If we want to use " <title> | Flowershow " format for us, let's configure it in the config file so that people are aware where it comes from and can also adjust it to their needs. But they also should be able to just use a plain title they set (globally or per-page).

[2022-08-24 09:47] olayway commented on #57
@khalilcodes, Sure thing. I was just saying we don't need `titleTemplate` and `defaultTitle` for that. Also, `defaultTitle` is basically used with `titleTemplate` only - as a fallback value in case `titleTemplate` evaluates to `undefined` (at least this is what I understand from the next-seo docs).

So, in order to set the default (i.e. globally-set) title for all pages you just need to do this:

[2022-08-24 09:57] olayway commented on #57
@khalilcodes, @rufuspollock  if you take a look at the next-seo doc's example of typical SEO settings, they even distinguish between ordinary `title` and `description` tags and OpenGraph's `title` and `description` for social sharing. I think atm we can use `title` and `description` values for both but just FYI. Maybe sometime in the future we could also make this distinction and for OpenGraph hav

[2022-08-24 10:00] olayway commented on #57
@rufuspollock, @khalilcodes maybe the current `title` should be renamed to e.g. `name`, not to confuse it with SEO `title`. And like you said, Rufus, it could be used as a fallback value/alt value for logo image.

[2022-08-24 10:39] olayway commented on #88
@rufuspollock I had already described it shortly in our docs before but I've tweaked the description a bit:

![image](https://user-images.githubusercontent.com/52197250/186398223-49864a79-7761-4691-9a14-827c9f711041.png)

Is it ok?

[2022-08-24 12:05] olayway opened #122 "Enable and document global components"
As a user, I want to be able to:
1. Customize basic HTML tags like headings, em etc.
2. Make frequently used custom components available in all MDX pages, so that I don't need to import them each time I want to use them.

All this can be done by tweaking this object...

[code]

... but it would be nice to configure it in such a way that the user doesn't ever need to touch this file.

[2022-08-24 13:27] rufuspollock commented on #119
@airtonix thanks for the feedback and that's already possible and we can make that clearer on the front page that "self-publishing" is possible as well.

[2022-08-25 00:24] airtonix opened #124 "'flowershow@latest' is not in this registry."
[code]

[2022-08-25 08:17] olayway commented on #124
Hi @airtonix! Thank you for submitting this issue.
The CLI tool is a work in progress, so this won't work at the moment (see issue #19). I'll make it more explicit on our front page!

[2022-08-25 08:29] olayway commented on #124
@rufuspollock, I've added the following note to our "How it works" section. Let me know if it's OK and I'll close the issue.

![image](https://user-images.githubusercontent.com/52197250/186615016-912b25d9-1c4e-4f70-a142-8b6c8b34dadc.png)

[2022-08-25 08:35] rufuspollock commented on #124
@olayway that's good. I think you could use the phrasing we have on docs page and include the invitation to sign up.

[2022-08-25 08:35] rufuspollock commented on #124
@airtonix sorry for the confusion and we hope to have this flow ready for primetime in the next few weeks (we already have something close to this working internally but not yet ready for external consumption). If you'd be up for being an alpha user let us know - and perhaps sign up on https://flowershow.app if you haven't already. Thank-you again for

[2022-08-25 08:49] rufuspollock opened #125 "Step-by-step overview of raw self-publishing on front page"
Follow on to #103 to cover self-publishing. For steps see https://flowershow.app/meta/publishing-design section Self-publishing in the rawest way

1. You have a have some markdown files (and maybe data). Preferably in a git repo.
2. You install the flowershow app template (later this could be encapsulated in a command line tool)
3. You configure the app with your content in step 1
4. You deploy: s

[2022-08-25 08:50] rufuspollock commented on #103
@olayway this was what we could term "cloud" publishing. I think we could do the same for self-publishing given feedback in e.g. #119. Opened new issue for that in #125 and clarified title of this issue.

[2022-08-25 08:54] airtonix commented on #124
👍🏻

[2022-08-25 09:16] olayway commented on #124
![image](https://user-images.githubusercontent.com/52197250/186626090-9415390f-e4ab-47ba-95e3-3267ea35eb2f.png)

[2022-08-25 09:16] #124 closed

[2022-08-25 10:31] khalilcodes commented on #57
@rufuspollock @olayway using a `title` field in `nextSeo` and not using the `defaultTitle` will lead to the following issue for pages without frontmatter titles or the homepage. This is because the `title` now is always defined.
<img width="289" alt="Screen Shot 2022-08-24 at 3 44 24 PM" src="https://user-images.githubusercontent.com/42637597/186419912-225837b2-e616-4105-9dbf-b5dcc4ca2cbe.png">

T

[2022-08-25 10:53] rufuspollock commented on #99
FIXED.  See https://flowershow.app/about

[2022-08-25 10:53] #99 closed

[2022-08-25 11:11] rufuspollock commented on #88
@olayway ok, i'm just checking because what you've written above seemed really clear:

I think at this point we want the docs to follow our recommended path.

[2022-08-25 12:06] rufuspollock opened #126 "Post "spectrum of customizability" journal item as blog post"

[2022-08-25 12:53] olayway opened #127 "Create a walk-through video"
As a new user, I want to be able to quickly make sense of how Flowreshow works and how to set-up/configure it.

## Acceptance
- [ ] TBD

[2022-08-25 13:43] olayway opened #128 "Private Notes that aren't published (Enable publishing only selected set of notes)"
When publishing my vault i want to be able to have an individual note not published so that i can keep work as draft

When publishing my vault i want to default to having all notes unpublished and notes are only published if explicitly marked so that i can only selectively publish and keep most of my vault private

When publishing my vault i want to be able to bulk configure notes as published (or

[2022-08-25 15:07] #110 closed

[2022-08-25 15:54] olayway commented on #57
Closing as done in #123

[2022-08-25 15:54] #57 closed

[2022-08-25 15:55] olayway commented on #56
Closing as done in #106 and #107

[2022-08-25 15:55] #56 closed

[2022-08-25 16:21] olayway commented on #88
@rufuspollock added this as a last section to mdx docs page

![Image](https://user-images.githubusercontent.com/52197250/186718087-69ce0494-7bb7-4c6d-8680-2bb90f3a93ff.png)

[2022-08-25 17:34] rufuspollock commented on #88
@olayway sounds good for now. I think we can now close this. I'll leave you the honors.

[2022-08-25 17:38] rufuspollock commented on #19
@airtonix good point and done https://www.npmjs.com/package/flowershow

[2022-08-26 10:41] #88 closed

[2022-08-29 15:59] #98 closed

[2022-08-29 19:53] rufuspollock opened #130 "Improve documentation of config to explain what variables do"
Current https://flowershow.app/docs/config lacks information about what each field does. I would also exclude the material covered elsewhere e.g. nextSeo is covered in seo section.

## Acceptance

## Notes

Current version

[code]

export default userConfig

[2022-08-29 20:00] rufuspollock commented on #128
@olayway added some job stories

[2022-08-29 20:43] rufuspollock commented on #111
Have started to make progress on this.

[2022-08-30 10:14] olayway commented on #47
@rufuspollock see my comments above

[2022-08-30 10:44] rufuspollock commented on #47
@olayway **excellent** analysis 👏 - really thorough and clear with pros and cons that summarize the issue and a clear recommendation. Agree on proceeding as suggested.

[2022-08-30 11:31] rufuspollock opened #131 "Tutorial: Publish a single markdown file using Flowershow and CLI v0.2"
When I have a single file e.g. README.md or homepage i want to know how to publish with flowershow so that it is online

## User experience (roughly)

### Create a test folder and file

(or use markdown you have already)

[code]

### Convert the markdown to html with flowershow

[code]

### Open in your browser

...

### Bonus: live previewing

[code]

## Acceptance

* [ ] How to layout the file

[2022-08-30 11:33] rufuspollock opened #132 "Tutorial: Publish your obsidian vault with Flowershow"

[2022-08-30 11:33] rufuspollock opened #133 "Tutorial: Create a customized home page with Flowershow"

[2022-08-30 11:46] rufuspollock opened #134 "CLI v0.1"
Skeleton a basic CLI app in packages/flowershow and publish to npm

I want to run `npx flowershow` and get a help message

## Acceptance

* [x] Can run `flowershow` or `npx flowershow` and it outputs a simple help message **✅ 2022-09-07 works**
* [x] published to npm **✅ 2022-09-07 published**
* [ ] Test (?) - normally best approach is to split into a core lib and cli wrapper and you can test core

[2022-08-30 11:50] rufuspollock opened #135 "[6 Sep] What we have shipped in the last two weeks blogpost"
When visiting the site i want to know what you are up so that i know this is an active project or not

When returning to the site i want to know what you are up so that i know how progress is going

## Acceptance

* [ ] Blog post is up about what we have shipped in last two weeks
* [ ] Update on obsidian forum with this info

[2022-08-30 11:51] rufuspollock commented on #19
Add v0.1, v0.2, v0.3 parts of CLI

[2022-08-31 14:05] olayway opened #139 "`data/exampleData.js` - why do we have this? Can this live somewhere else e.g. in `site`? @olayway"

[2022-08-31 14:05] #139 closed

[2022-08-31 14:06] olayway commented on #139
opened accidentally

[2022-08-31 16:17] #27 closed

[2022-08-31 16:17] #47 closed

[2022-08-31 16:18] #97 closed

[2022-09-01 09:40] olayway opened #140 "Hot reload not working for changes in JSX components"
It's a pain to work on custom React components used in MDX this way.

[2022-09-01 09:49] olayway opened #141 "Style guide v.0.1"
Our code is a bit of a mess:
- we sometimes use standard JS functions, sometimes arrow functions to define React components
- we sometimes use default exports, sometimes named exports for React components,
- we don't stick to any order of imports
- we don't use comments to document code we write
- ...

[2022-09-01 09:52] khalilcodes commented on #141
@olayway I propose eslint with ci/cd

[2022-09-01 09:58] rufuspollock commented on #141
See also https://playbook.datopian.com/style-guide/ and https://playbook.datopian.com/style-guide/javascript/ - my suggestion would be to adopt that and make suggestions. Also to start using prettier etc.

[2022-09-01 12:09] rufuspollock opened #143 ""Edit this page" link on pages"
When creating a wiki-like site (or docs site) based on a public repo i want to be able to edit this page link on pages so that people (including me the editor) can quickly edit a page and make changes

NB: believe we have already implemented this on web3 so this is a backport

## Acceptance

* [x] Edit this page link at bottom of pages linking to right section on repo
* [x] Edit this page can be e

[2022-09-01 12:15] rufuspollock commented on #111
Created an upgrade script and documented in https://flowershow.app/docs/upgrade

[2022-09-01 13:44] olayway commented on #140
I think this is related to contentlayer not regenerating pages, probably it only watches for changes in md files

[2022-09-01 23:03] olayway commented on #134
@rufuspollock I'd go with commander + inquirer + chalk combo for now. As for commander choice - its really a matter of preference (from what I've learned on reddit and blogs) and IMHO doesn't matter all that much. I've just tested commander and it's very easy to use and logical. But if you've used another tool and would rather use it - I can work with it too.

[2022-09-02 06:04] rufuspollock commented on #134
@olayway sounds great. Let's go with that.

[2022-09-02 10:23] rufuspollock commented on #16
@abhishekgahlot could you summarize your quick research on how to do this e.g what changesets are, why useful, how to use etc.

[2022-09-04 13:06] bilalshaikh292 commented on #118
@rufuspollock so can you explain me the work once?so that i can start working?

[2022-09-04 13:16] rufuspollock commented on #118
@bilalshaikh292 can you have a look around https://flowershow.app and the codebase and familiarize yourself and see what questions you have. I will also add a bit more info here.

[2022-09-05 11:44] rufuspollock commented on #111
I don't get this quite. can you explain more.

[2022-09-05 12:02] khalilcodes commented on #111
After renaming `Search.js` in ecosystem to `ProfileSearch.js`, I ran `sh upgrade.sh`. Instead of it creating a new `Search.js` component/file which should come from flowershow, it added the search code to `ProfileSearch.js` and renamed it back to `Search.js`. This is probably because I did not commit the changes and ran the upgrade maybe. So just posting here for info.

[2022-09-05 16:28] rufuspollock commented on #111
@khalilcodes this seems really weird to me. How would it create a `ProfileSearch.js` file when there is none in templates/default afaict (there is a `Search.js`).

[2022-09-06 05:19] rufuspollock opened #149 "Developer Docs v0.1"
As a new contributor I want to know how to get started so I can make a contribution

## Acceptance

* [x] Brief overview of layout of repo e.g. nextjs template app in `templates/default`, flowershow.app site (which acts as sort of demo) in `site`
* [x] How to get template app running
* [x] A single starting point for contributors at https://flowershow.app/docs/contributors (can just be a brief sum

[2022-09-06 08:24] khalilcodes commented on #111
@rufuspollock pushed

- [x] refactor components to load data themselves
- [x] rename ecosystem search / add flowershow search

changes to flowershow for ecosystem:
- `MDX.js` SEO image url
  - in flowershow was `frontMatter.image`
  - in ecosystem is `flowershow.image.url` (image field here is nested and has url,  cached, cached_new)

could not resolve:
- [ ] importing components in mdx
  - throws

[2022-09-06 08:43] abhishekgahlot commented on #16
Changesets are way to manage your versioning and changelogs. Sometime we end up grouping changes in one PR. Using changesets we can group multiple changes and create a `release` , `minor` or major patch.

More info on that here: https://github.com/changesets/changesets/blob/main/docs/detailed-explanation.md

The PR associated with is: #142

[2022-09-06 10:57] rufuspollock opened #150 "Blog feature design"
Design the blog feature both in UX and implementation.

## Acceptance

  **🚧 2022-11-17 https://hackmd.io/kXy3EyzjROeZuBASmT4E7Q**

- [x] job stories written **✅2022-11-18  see https://flowershow.app/meta/blog-design**
- [x] ideas for implementation **✅2022-11-18 see https://flowershow.app/meta/blog-design**

[2022-09-06 11:36] rufuspollock commented on #131
Waiting on clarification with Rufus

[2022-09-06 13:54] rufuspollock opened #151 "Tutorial: Flowershow as NextJS template"
Tutorial: how to use flowershow as a NextJS template

How to create on a new site

How to upgrade an existing site (or an existing flowershow install you have modified)

[2022-09-06 19:12] #125 closed

[2022-09-07 06:38] PhilippeduPreez opened #152 "Windows Module not found"
Currently getting a module not found error in Windows

![Capture](https://user-images.githubusercontent.com/44789132/188806185-33d5796a-81f5-418c-96c7-f1bd6beed7a0.PNG)

[2022-09-07 07:47] rufuspollock commented on #111
@khalilcodes very good summary. can you move the key stuff up into the description and also chat with @olayway especially about the mdx import stuff that does not work.

[2022-09-07 09:49] olayway commented on #152
@PhilippeduPreez I've quickly checked it on Windows. When you clone the repo on Windows the symlink from `templates/default/content` to `site/content` is invalid and is being downloaded as a text file (you can check it in your code editor, that this file contains a string with a path, it's not a symlinked folder) - this is probably due to the fact that paths in Windows are written with backslashes

[2022-09-07 09:54] olayway commented on #152
The same goes for `templates/default/components/custom`. It's a file instead of a symlink. You need to remove this file and create a symlink to `site/components`.
There are still a lot of errors though..

[2022-09-07 11:10] olayway commented on #152
There is a 3rd place (and the last one 😀) where you need to do do this: `templates/default/public/assets` should point to `site/content/assets`.

[2022-09-07 12:00] olayway commented on #134
@rufuspollock the basic CLI tool is already on the `main` branch, as I wanted to publish it to npm already with the correct repository URL in `package.json`.
I've published it on my private npm to do some testing so you can check how it works with `npx testinglola --help`. But basically it looks like this:

![image](https://user-images.githubusercontent.com/52197250/188871922-c85d1cd8-194c-4c4b-9c

[2022-09-07 16:44] olayway commented on #111
Tbh, I'm not really sure why we are testing it all this way 😅 (but probably it's because I haven't been working on it with you @khalilcodes and @rufuspollock, so please take it all with a grain of salt).

So, it looks to me that we're trying to convert a site that was **not really** built with Flowershow into a Flowershow one, and it seems to me it's doomed to have a lot of issues every time we do

[2022-09-07 17:08] olayway commented on #134
@rufuspollock I've moved the cli to `/packages/flowershow` and published under `flowershow`. You can test it with `npx flowershow`. As for tests, I'll add them while working on the actual logic of the commands.
Let me know if I can close this issue.

[2022-09-07 17:11] #16 closed

[2022-09-07 17:15] rufuspollock commented on #111
@olayway

It was kind of built with it - we did a big refactor in july to use flowershow v0.1 so this is an upgrade. the issue then is we didn't have mdx components working.

Re moving stuff into .flowershow: it doesn't really change anything here. The real issue is that ecosystem is a full nextjs site, not a pure one - i.e. i believe it has customized contentlayer. that said it is a good experien

[2022-09-07 17:15] rufuspollock commented on #111
@khalilcodes

Why do we need to do this? can't we just symlink the relevant folder over into public for now?

[2022-09-07 17:16] rufuspollock commented on #134
@olayway great - let's close. 👏

[2022-09-08 09:19] #134 closed

[2022-09-08 09:33] khalilcodes commented on #111
thanks @olayway for the insight and yes you are right that me and @rufuspollock have more context here since we have been working on the ecosystem from scratch.

My approach here is actually more user centric, and I believe my goal here is to find the bugs (and blockages that user would face while installing flowershow), rather than trying to make things just work. And since I have more context he

[2022-09-08 11:15] rufuspollock commented on #111
Remaining:

* [ ] Commit any definite local fixes in ecosystem
* [ ] Backport remaining fixes
* [ ] Do final upgrade
* [ ] Merge that (tedious!)
* [ ] Write notes
* [ ] Done!

[2022-09-08 16:18] olayway opened #154 "Simplify imports of custom components and data"
## User story
As a user I want to be able to use simple import paths to easily import my custom components and custom data into MDX files.

## Acceptance
- [ ] custom data can be imported with a simple import path, e.g. `import exampleData from "data/exampleData.json"`
- [ ] custom components can be imported with a simple import path, e.g. `import MyComponent from "custom/MyComponent.jsx"`

## Tas

[2022-09-08 20:05] olayway opened #155 "Make (site) config and page frontmatter available as variables in a given page"
When creating a page / post I want to include some info from the frontmatter or the overall site config (e.g. site description) so that i don't have to write the same thing in two places (??)

## Acceptance

- [ ] site config is available as a variable called `config` so i can do `{config.title}` to get site title in body of the page
- [ ] frontmatter available as `frontmatter` so i can do `{front

[2022-09-08 20:26] olayway commented on #111
@khalilcodes, @rufuspollock it seems indeed importing components that depend on external packages doesn't work 😞 I believe it has to do with Contentlayer's configuration/usage of `mdx-bundler`, because when you actually define the component and import it's dependencies directly in MDX file (not import them from a file) it works. So it has to do sth with imports resolution I guess. Anyways, I've cr

[2022-09-08 21:59] olayway commented on #111
@khalilcodes as for the two errors related to importing `TernaryPlot` into an MDX file:

1. can't resolve `crypto`

[code]

From what I've learned, `crypto` is a NodeJs's built-in module, i.e. it's server-side JS only. What's interesting to me is that it works if you provide it as a global component in `components` object, but when you try to import it in MDX, it breaks. It makes me think that in

[2022-09-09 14:26] rufuspollock commented on #111
@olayway also re crypto - that was just used for layout-hack and probably other ways to solve this.

[2022-09-09 14:26] rufuspollock commented on #111
Ok, very good to know. Can we open an issue here to track this as it is important thing to track going forward.

[2022-09-09 19:34] olayway opened #156 "Full customization of navbar / footer via custom components"
Idea: Replacing/overwriting template components with custom user's components especially for navbar for footer

I don't think we should strive to cover every possible version of each template component, e.g. a footer with a logo, or without a logo, a footer with a logo first, then name, or the other way round, a footer with links, or without them, footer with something other than "Made with...". W

[2022-09-09 20:40] olayway opened #157 "Importing components (in MDX) that use external packages doesn't work"
@khalilcodes, @rufuspollock it seems importing components that depend on external packages doesn't work indeed 😞 I believe it has to do with Contentlayer's configuration/usage of `mdx-bundler`. When you actually define the component and import it's dependencies directly in MDX file (not import them from a file) everything works. So it has sth to do with imports resolution I guess. Anyways, I've cr

[2022-09-13 08:54] rufuspollock opened #163 "Page comments / discussions"
When publishing a page I want to allow visitors to post comments so that I get feedback

* want to be able to bulk enable/disable e.g. in settings
* enable/disable page by page

Implementation: suggest we build on (and contribute to) pliny, see https://github.com/timlrx/pliny/tree/main/packages/pliny/src/comments

## Acceptance

* [x] Commenting support on posts and pages **✅ 2023-02-01 (we are us

[2022-09-13 10:08] olayway commented on #118
@PhilippeduPreez one more thing to do here is adding a section to docs showing how `smartypants` works :) Sth similar to: https://flowershow.app/docs/syntax#-emphasis

[2022-09-13 11:20] rufuspollock commented on #60
things i've found from a quick google:

* First, naming for this:  callouts / admonitions / containers
* Discussion re implementing on github https://github.com/community/community/discussions/16925
* https://github.com/Nevenall/remark-containers - a bit similar in functionality though using `:::` for fencing blocks

[2022-09-13 12:22] khalilcodes commented on #60
@rufuspollock

This was the closest one I had found.

I'd consider creating a new `flowershow/remark-callouts` repo and modifying above as per our needs similar to `remark-wiki-links-plus`

[2022-09-13 13:22] rufuspollock commented on #60
@khalilcodes ok - have you examined the code - what parts would be useful exactly?

[2022-09-13 20:10] olayway opened #164 "CLI tests"

[2022-09-13 21:38] #143 closed

[2022-09-13 22:02] #118 closed

[2022-09-14 05:55] khalilcodes commented on #60
@rufuspollock

Browsing through `remark-containers` and even modifying it a bit, I could see the tokenizer handles the ":::" (or ">" in our case) found on new lines by splitting them and then transforming the nodes. Also, `remark-admonitions` has a similar approach including an object with a list of types (ie., note, tip, warning, etc) with their relevant properties (class, svg, etc).

The approac

[2022-09-14 07:52] rufuspollock opened #166 "[inbox] publish improvements (cli)"
* [ ] allow for assets anywhere in the directory tree - don't have to be in "assets" so it really is plug and play for users especially obsidian ones (i.e. they don't need assets folder unless they want it)
  * [ ] #171
* [ ] be careful about over-writing an existing `config.js`

Related to #269

Atm the CLI allows for installing the template inside of the content folder which will result in esbui

[2022-09-14 08:29] rufuspollock commented on #60
@khalilcodes sounds good. are you asking me a question at the end or a question to yourself?

[2022-09-14 08:36] rufuspollock commented on #135
@olayway clarified acceptance

[2022-09-14 08:54] khalilcodes commented on #60
@rufuspollock 😄 Just validating if the approach is right.

[2022-09-14 09:10] rufuspollock opened #167 "Systematic way to document config"
systematically document config values so that users and developers can find all of them

## Job Stories

When configuring my site i want to see list of config options in one place so that i can quickly find what i'm looking for

When developing i want to see list of existing config so i don't create a new option unnecessarily

## Acceptance

- [ ] Best practice for devs
- [ ] (? if an easy way?) W

[2022-09-14 12:12] rufuspollock commented on #141
Suggest that dev team take a quick look at datopian playbook and decide if we need to add anything ...

[2022-09-14 12:14] rufuspollock opened #169 "Non-algolia search support (ootb search with no external deps)"
When running my site I want search either using something fancy like algolia (if i qualify and can setup) or using something without dependencies so that people can find things quickly

Follow up to #34 where we implemented algolia.

Suggest we move to using pliny search setup: https://github.com/timlrx/pliny/tree/main/packages/pliny/src/search (see more discussion below)

## Acceptance

- [ ] Alg

[2022-09-14 12:15] rufuspollock commented on #108
@khalilcodes is this now done as part #161 ?

[2022-09-14 12:22] rufuspollock commented on #38
In doing this i'd like to test out my idea for product comparisons ... hmmm.

[2022-09-14 12:23] rufuspollock opened #170 "Support obsidian dataview (or equivalent)"
https://github.com/blacksmithgu/obsidian-dataview is super cool.

It depends on the obsidian index i suspect though haven't done a deep dive into the code.

Basically want to do rendering of this and display on site.

[2022-09-14 12:24] #131 closed

[2022-09-14 13:06] rufuspollock commented on #118
@PhilippeduPreez can you please close as per https://tao.lifeitself.us/issues/

[2022-09-14 13:16] khalilcodes commented on #108
This was resolved in PR #161
 * commit [d5a607e](https://github.com/flowershow/flowershow/commit/d5a607e778fd4011438fe19ad7b9898cdccba02f)

[2022-09-14 13:16] #108 closed

[2022-09-14 13:34] rufuspollock opened #171 "this would work by symlinking all static files e.g. images, pdfs etc into the public folder in right position."

[2022-09-14 13:37] rufuspollock opened #172 "Avoid having an explicit content folder"
Project like this ...

[code]

atm we ask you to move everything into a content folder e.g.

[code]

why can't we just do:

.flowershow/templates/default
.flowershow/templates/default => symlink ../../../

Because we get infinite loops with certain tools.

Solution:

- Force use of content folder
  - 👍 very clean, easy for the devs
  - 👎 annoying for users and may not work for them (not at all obv

[2022-09-14 13:51] rufuspollock opened #173 "e2e test for CLI v0.1"
Test our CLI v0.1 self-publishing `npx flowershow` workflow end to end with continuous integration

## Acceptance

* [x] Have an e2e test of installing and building and publishing with github pages **deploying on Netlify**
* [x] Install works
* [x] Build works
* [x] Publish works (github pages) **deploying on Netlify for now**

## Tasks

* [x] Choose whether to create a repo or folder in our exist

[2022-09-14 13:57] rufuspollock opened #174 "Feature Testing using playwright round 2 part I: clean fixtures site"
We have playwright working, we just aren't testing very much with it ...

## Acceptance

* [x] e2e tests with playright are testing stuff again that is in templates/default and not in the app **✅2022-09-20 see commit https://github.com/flowershow/flowershow/commit/b7ca935ce9b19ca7c0aa599270483de82ff03289 and see running build with new test setup https://github.com/flowershow/flowershow/actions/run

[2022-09-14 15:41] rufuspollock opened #175 "Building flowershow.app using flowershow self-publishing approach"
Right now we have a slightly "hacky" setup where we have the site and the app in the same repo and hard-code the symlinks. Benefit is we can use netlify/vercel etc to publish using the nextjs build approach.

Could wwitch in github actions to build using flowershow

Deployment options

- commit .flowershow folder and use nextjs deployment methods
- don't "commit" flowershow and use flowershow to b

[2022-09-14 17:40] olayway commented on #135
@rufuspollock I've created a draft of PR #176. Let me know if you want me to do some more writing or if we can go with this short version.

[2022-09-14 20:31] PhilippeduPreez commented on #91
idea for single level implementation
![image](https://user-images.githubusercontent.com/44789132/190255912-82bcbf75-1ac8-468a-b388-9756c25507e3.png)

[2022-09-14 20:34] PhilippeduPreez commented on #91
and for multi level
![image](https://user-images.githubusercontent.com/44789132/190256731-2fb92dbc-df9d-431b-b306-d0318dfa6cfd.png)

[2022-09-15 05:38] rufuspollock commented on #91
@PhilippeduPreez good start 👏

My suggestion for analysis is to prep this in a hackmd and link that - as easier to edit and comment on and then we can copy across.

I would focus first on a [job story](https://playbook.datopian.com/job-stories/) then on thinking a bit technically how to do it and then finalize in terms of acceptance and tasks.

Aside: small formatting issues in description - markd

[2022-09-15 08:24] PhilippeduPreez commented on #118
FIXED. See commit [here](https://github.com/flowershow/flowershow/pull/159/commits/512e2ce468e6f559c91be949ca73c2130502ceb3)

[2022-09-16 08:19] PhilippeduPreez commented on #91
@rufuspollock Desktop view thus far...

Please let know if you prefer different styling (background hover) etc. Otherwise I use the same styling as the top level nav and will implement the same for mobile view.

Nested dropdowns are a bit more complicated, so please let know if we stick to one level for now or whether we should add nested functionality.

![Animation](https://user-images.githubuser

[2022-09-16 09:42] PhilippeduPreez commented on #91
Mobile view thus far

![dropdown mobile](https://user-images.githubusercontent.com/44789132/190608667-19dd536c-73b7-4469-abd9-6fffaaf43dbb.gif)

[2022-09-19 07:33] olayway commented on #91
@PhilippeduPreez just to sum up our today's conversation:
Looks great so far! But let's try switching from on-click to on-hover for opening the dropdown (in the navbar) so that the menu item can be a clickable item itself (in our case this could be e.g. docs page, with its guides listed in the dropdown). In the sidebar, it should be on-click, since, as you correctly noticed, there is no hover-over

[2022-09-19 08:02] olayway commented on #91
Another issue is that we wouldn't be able to click on such an item in the sidebar, so we're going with your solution with just a small change - on-click to on-hover for navbar menu items. Once this is finished I'll just rename our docs page to "What is Flowershow", remove links to guides and I'll use all these pages as dropdown items to "Docs" navbar item.

[2022-09-19 19:47] olayway commented on #141
Haven't started working on it yet. I'll take a look at it tomorrow morning.

[2022-09-19 19:48] olayway commented on #164
Haven't started working on it yet.

[2022-09-20 10:18] olayway commented on #141
Working on it. I'll probably need to adjust our eslint config a bit because what we have now is a bit too basic. Also, I'd turn on linting during builds because atm no one seems to do this locally and it doesn't throw any errors when pushing changes on the branch. I'll also create a pre-commit hook so that the lint script is run before each commit.

[2022-09-20 10:29] PhilippeduPreez commented on #91
FIXED. See commit [here](https://github.com/flowershow/flowershow/pull/177/commits/7c9592977a3f5c02a513ca9f9a7f5b69bf9641e4)

[2022-09-20 11:09] rufuspollock commented on #68
@khalilcodes suggest re-assign to @PhilippeduPreez for the next sprint.

[2022-09-20 11:50] rufuspollock opened #178 "Feature Testing using playwright round 2 part II: more tests with new fixtures"
We want to test more features of the template app so that as we add things we know we aren't breaking anything

## Acceptance

* [x] Key features of template are under test

## Tasks

Select more stuff to test (and e.g. philippe can have a go)

* [x] Review main features and pick a few key things we want to test
* [x] Syntax
  * [x] #118
  * [x] wikilinks
  * [x] CommonMark
  * [x] GFM

[2022-09-20 11:53] rufuspollock commented on #174
FIXED. All working.

[2022-09-20 11:53] #174 closed

[2022-09-20 11:56] rufuspollock opened #179 "Alpha Release of Flowershow Self-Publishing"
## Acceptance

* [x] Docs are ready to use **🚧 reviewed, changes tbd**
* [x] Front page summary links to docs **PR (draft) #209**
* [x] Forum issue for this inviting people to give feedback **created [here](https://github.com/flowershow/flowershow/discussions/215)**
* [x] Emailed our alpha list to try it out - point to docs and discussion issue **used mailchimp**
* [ ] Posted on obsidian forum, ma

[2022-09-23 07:23] olayway commented on #141
Eslint and prettier settings done. Also, the checks will run on build now so I had to fix quite a lot of things in our codebase that couldn't be fixed automatically. I've also added a pre-commit hook, so linting and formatting (with auto fix) will run before each commit as well. I still have one problem with discrepancies between linting that's happening on build and the one happening on pre-commi

[2022-09-23 10:22] rufuspollock commented on #141
@olayway sounds great. well done.

[2022-09-23 10:32] khalilcodes commented on #60
@olayway @rufuspollock

Current progress on callouts remark plugin ...

- [x] supports all admonitions that exist in obsidian including aliases
- [x] supports nested callouts
- [x] colors and icons same as obsidian

<img width="895" alt="Screen Shot 2022-09-23 at 2 25 09 PM" src="https://user-images.githubusercontent.com/42637597/191941649-c9316652-bce5-4dee-97bf-c4ad765da3c9.png">

<img width="89

[2022-09-23 16:06] rufuspollock commented on #157
We have a resolution thanks to [a comment](https://github.com/contentlayerdev/contentlayer/issues/302#issuecomment-1253765070) from @timlrx

[2022-09-23 16:52] sahilm-10 commented on #44
@rufuspollock @olayway Can you guide me ? I want to contribute. I am new to Opensource

[2022-09-23 21:33] rufuspollock commented on #150
Work in progress in https://flowershow.app/meta/blog-design

[2022-09-23 21:39] rufuspollock opened #185 "Blog section on flowershow.app"
First item can be https://flowershow.app/docs/guide-setup

A general point that most guides and tutorials can start as blog posts.

[2022-09-23 21:59] rufuspollock commented on #143
@PhilippeduPreez note none of the acceptance items are updated with any comment as per https://tao.lifeitself.org/issues/#completing-tasks and no closing remark generally https://tao.lifeitself.org/issues/#closing-issues

I'd particularly like here to see some kind of link to the documentation for this. Also is this enabled on flowershow.app?

[2022-09-25 01:55] PhilippeduPreez commented on #143
FIXED
"Edit this page" links option can now be configured in config.js file as well as in the frontmatter of each page. See [updated docs](https://github.com/flowershow/flowershow/blob/main/site/content/docs/edit-this-page.md)

[2022-09-25 01:55] PhilippeduPreez commented on #143
@rufuspollock the default is currently disabled

[2022-09-25 13:02] #157 closed

[2022-09-26 07:18] olayway opened #187 "Do research on correct setup of monorepo"
Do we have a correct monorepo setup? Don't we need to have at least a root `package.json` with workspaces listed? Does it change anything?

[2022-09-26 07:20] olayway opened #188 "Changeset config"
## Problems
- We have two `.changeset` folders atm - one in the root folder and one in `templates/default`
  - adding changeset via GH creates a changeset file in the root directory

## Acceptance
- [ ] changeset file is always added to `templates/default/.changeset` folder

## Tasks
- [ ] check if where the changeset file is created depends on where we run `npx changeset` command
- [ ] check if w

[2022-09-26 07:35] olayway opened #189 "Releases"
## User story
As a user, I want to be able to tell what changes were included in the latest release (new features, bug fixes, etc.), so that I know if I should/want to upgrade now or not necessarily.

## Acceptance
TBD

https://docs.github.com/en/repositories/releasing-projects-on-github/about-releases
https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repo

[2022-09-26 09:51] olayway opened #190 "Unneeded hooks added automatically in `.husky` folder"
For some reason pre-push, post-merge, post-commit and post-checkout hooks are sometimes added automatically to `.husky` folder after running `npm install`.

## Tasks
- [ ] first try to reproduce it to make sure when it happens

_Originally posted by @olayway in https://github.com/flowershow/flowershow/pull/180#discussion_r979662932_

[2022-09-26 12:37] #178 closed

[2022-09-27 10:25] PhilippeduPreez commented on #178
FIXED [here](https://github.com/flowershow/flowershow/pull/180/commits/77a4a6f4630f8d5d4623051455733a3eb4c933e0)
Tests work locally, but there is still an error with current playwright setup to be fixed in next PR

[2022-09-29 14:21] rufuspollock commented on #189
Right now we probably want a changeset per issue resolved (i.e. per average pull request). Bundling into releases is easy - you and I as product owners can decide when a release is ready and that point we bundle all changesets since last release into the latest release.

This is what i understood changeset helped us do https://github.com/changesets/changesets

There's more in https://github.com/ch

[2022-09-29 14:23] rufuspollock commented on #187
@olayway i think we want to move templates default into `packages` with a name like `template-default` or even `app-default` (though app is overused), or even, `app-template-default`

[2022-09-29 14:23] rufuspollock commented on #44
@sahilm-10 what do you understand of the issue for yourself?

[2022-09-29 14:24] rufuspollock commented on #60
@khalilcodes imo headings in blockquotes being linked is not the end of the world (though imperfect - we can live for now and revisit - e.g. open an issue to remind ourselves of this and close this one).

[2022-09-29 14:29] rufuspollock commented on #44
@sahilm-10 yes i think the start is to research docs support in mdx and then add a page docs/comments to flowershow.app exclaiming how to add comments to pages ...

[2022-09-30 17:00] khalilcodes commented on #60
@rufuspollock the headings was resolved on Monday and the npm package has been published and ready to go.

repo: https://github.com/flowershow/remark-callouts
npm: https://www.npmjs.com/package/remark-callouts

One minor limitation is that wiki links do not parse in the callout's **header** section (works in body), although other markdown stuff does just as in Obsidian. For eg ..

[code]

I will u

[2022-10-03 07:38] rufuspollock commented on #60
@khalilcodes amazing! 👏 👏 let's integrate it and deploy it!

[2022-10-03 19:41] bilalshaikh292 commented on #133
heyy @rufuspollock is the issue still open?can I Contribute?

[2022-10-05 11:13] olayway opened #194 "PDF embedding"
## Acceptance
- [ ] support for embedding PDF files using transclusion syntax

[2022-10-06 09:40] PhilippeduPreez commented on #128
@olayway Glob/wildcard patterns (e.g. using *) are not supported yet for contentDirExclude or contentDirInclude. https://www.contentlayer.dev/docs/reference/source-files/make-source#contentdirinclude

We should be able to add specific folders/files in config that would be use in Contentlayer?

[2022-10-06 20:20] PhilippeduPreez commented on #128
isDraft: true can be added in frontmatter in order not to be published. Since I am not sure if we are able to check the frontmatter in contentlayer.config, I added the check in getStaticPaths and sent a 404 if a page has this in frontmatter.

[2022-10-07 11:31] olayway commented on #194
@rufuspollock yes, it works, not sure why but when I tested it it didn't work

[2022-10-07 11:31] #194 closed

[2022-10-07 11:39] olayway opened #198 "Adjust code blocks style to light theme"
This doesn't look good:

![image](https://user-images.githubusercontent.com/52197250/194544623-d9fbbf22-ead3-40b3-8eb9-1d1b269ab865.png)

[2022-10-07 11:58] olayway opened #199 "Tweak navbar styling"
Let's maybe make the navbar opaque. This doesn't look very good IMO.

![image](https://user-images.githubusercontent.com/52197250/194547846-89405ebe-2a41-477e-9fbf-3066a037ec5d.png)

[2022-10-07 15:22] olayway opened #200 "Investigate high severity vulnerabilities"
Investigate and fix 11 high severity vulnerabilities reported by npm.

[2022-10-07 15:38] olayway commented on #190
Not really sure why husky does this, but it copies these hooks over from `.git/hooks` folder. They have been set by `git lfs install` and will be used exactly the same as previously, so nothing really to do here atm.

[2022-10-07 15:38] #190 closed

[2022-10-07 18:41] olayway opened #201 "Wikilinks in callouts headings don't work"
One minor limitation is that wiki links do not parse in the callout's **header** section (works in body), although other markdown stuff does just as in Obsidian. For eg ..

[code]

I will update the tasks shortly.

_Originally posted by @khalilcodes in https://github.com/flowershow/flowershow/issues/60#issuecomment-1263808308_

[2022-10-09 07:41] bilalshaikh292 commented on #198
heyy @olayway can i work on this issue ?

[2022-10-10 06:28] olayway commented on #198
Hi, @bilalshaikh292! Sure, go ahead!

[2022-10-11 05:36] rufuspollock commented on #201
As product owner i'd class this as very low priority as seems a pretty special case. @olayway have you run into this at all in our site yet?

[2022-10-11 19:39] olayway commented on #111
This should have been closed already. Not sure about the components approach though.

[2022-10-11 19:51] olayway commented on #201
No, I have created this issue, so that we don't forget about it:

[2022-10-12 08:31] rufuspollock opened #203 "Set up discord chat channel and add to site"
Following [discusssion](https://github.com/flowershow/flowershow/discussions/186) have decided to create chat channel on discord for community to chat and engage.

## Acceptance

- [ ] Discord "server" setup for Flowershow **✅2022-10-12 - see https://discord.gg/aeZbNd2z**
- [ ] @olayway and @rufuspollock admins for now **✅2022-10-12 made admins**
- [ ] Chat/discord link on flowershow.app site (nav

[2022-10-12 09:13] olayway commented on #85
@rufuspollock The email draft is ready. I have used stripo template builder to make it look nice and sent it to you in a test email on Oct 7th ([test]🌷 Flowershow has new features!). Let me know if it looks good to you.

[2022-10-12 09:18] olayway commented on #85
Oh, I will also add a link to our brand new Discord server and maybe even list it in "What's new"!

[2022-10-12 09:19] #128 closed

[2022-10-12 09:21] olayway commented on #95
@khalilcodes any progress here?

[2022-10-12 09:22] PhilippeduPreez commented on #128
FIXED [here](https://github.com/flowershow/flowershow/pull/202/commits/225dab060f34687764cec057c0a67db657d7e706)

[2022-10-12 09:23] olayway commented on #188
@khalilcodes any progress here?

[2022-10-12 10:28] khalilcodes commented on #95
@olayway have to fix some eslint errors and will create a PR shortly.

[2022-10-12 11:59] rufuspollock commented on #85
Looks good, let's send today (maybe check if we can track (anonymous) opens somehow). Can just bcc the user list and send from your lifeitself account!

[2022-10-12 16:21] olayway commented on #85
For future reference: https://support.google.com/mail/answer/81126?hl=en

[2022-10-12 16:59] olayway commented on #85
Email sent on 12.10.2022

[2022-10-12 16:59] #85 closed

[2022-10-12 19:42] PhilippeduPreez commented on #68
FIXED [here](https://github.com/flowershow/flowershow/pull/197/commits/6904bcb4a614da9cef2f40624fece61d5726c1c2)

[2022-10-12 19:43] #68 closed

[2022-10-13 09:01] olayway commented on #188
@khalilcodes I've updated the acceptance, as we don't really want to bump the version each time we run `npx changeset`. We only want to do this when we make a release - and for figuring this out we have another issue, which we will work on later on.

[2022-10-16 13:09] olayway opened #205 "Move prepare script to the root folder?"
[code]

The `prepare` script in our default template's `package.json` will fail to execute when running `npm install` not within `flowershow` repository (e.g. as part of `npx flowershow install`).

## Temporary solution

### Solution A (wrong)
Running `npm install` with `--ignore-scripts` flag.
[code]
This will work for `npm install` but will break the build.

### Solution B (current)
Removing `pr

[2022-10-17 08:30] PhilippeduPreez commented on #203
FIXED [here](https://github.com/flowershow/flowershow/pull/204/commits/6450379b7d5541aa1b6bfcc9469a056ac263027b)

[2022-10-17 08:37] olayway commented on #130
Done in https://github.com/flowershow/flowershow/commit/4e269479c26ae5576d0e4bd4466472c63e9a21a4, https://github.com/flowershow/flowershow/commit/e1fee8cdf4c8c87f30cde22c92602687f7ea7f9c and https://github.com/flowershow/flowershow/commit/5ea19eb4a7635a15b5a4bc4e208e8418399f7cc4

[2022-10-17 09:20] olayway opened #207 "Make it possible to install Flowershow template without assets folder"
It may be the case that the user doesn't (yet or at all) have any files like images, pdf etc. that he links to in his markdown, so it should be possible for him to install Flowershow template without an assets folder. It should also be possible to add this folder later on.

[2022-10-17 15:36] olayway opened #208 "[Epic] Cloud publishing"
Publish easily and automatically without having to install or manage Flowershow yourself with Flowershow Cloud - from obsidian, web, command line etc.

## Acceptance

- [x] Feature analysis done - **✅2022-11-23 https://flowershow.app/notes/design-cloud-publishing**
- [x] MVP implementation

## Tasks

- [x] Analysis of the feature - job stories, v0.1 approach etc #259

## Notes

### Original rough

[2022-10-18 00:33] olayway commented on #179
@PhilippeduPreez we didn't want to post it yet! 😅 Just add a link to HackMD here. + please add a list of docs pages you've reviewed. Thank you!

[2022-10-18 06:31] bilalshaikh292 commented on #198
so @olayway can your please guide me some help ?

[2022-10-18 08:27] PhilippeduPreez commented on #188
I am only able to run npx changeset in templates/default, so  the changeset file will be created in the same place

[2022-10-18 08:34] PhilippeduPreez commented on #188
I have added an issue [here](https://github.com/changesets/bot/issues/60) for the changeset-bot we are currently using in Github. The isn't any documentation on any possible config changes and it does not seem like issues are worked on, since there is a lot of issues from 2021. I also believe I do not have access to the github apps/bots we currently use.

[2022-10-18 08:44] PhilippeduPreez commented on #188
I think in order to make any changes to the bot, we would have to fork the repo and make our own bot. For now we should just add changesets with npx changeset inststead of using the bot.

[2022-10-18 14:19] olayway commented on #18
https://github.com/flowershow/flowershow/issues/187#issuecomment-1262358821

[2022-10-18 14:20] olayway commented on #187
Closing as it's duplicate of #18

[2022-10-18 14:52] olayway opened #211 "E2E: upload artifacts of running tests"
Don't remove temporary directories created for each test when the tests are running in the GitHub workflow. Instead, upload them as artifacts to be able to see why some tests may have failed.

https://github.com/actions/upload-artifact

To test whether the tests are running in a GH workflow, check if one of the default env vars is set to some specific value, e.g. CI is set to true, and remove or d

[2022-10-18 16:11] olayway opened #212 "don't create .flowershow folder if the installation fails"
Atm flowershow template is copied to `.flowershow` right after running `npx flowershow install` (or `npx flowershow install path-to-some-target-dir`). But the installation can fail if e.g. the wrong path is passed to one of the prompts.

Solution: first do path checks, then degit the template to `.flowershow`.

[2022-10-18 16:20] olayway opened #213 "extend E2E tests or write integration tests"
## Acceptance

- [ ] test different content/asset folders paths (e.g. relative, absolute) passed to prompts
- [ ] test if you can install Flowershow without assets folder
- [ ] test if the `.flowershow` folder is created only if the installation succeded
- [ ] ...

and

- [ ] make necessary adjustments to the CLI code

[2022-10-19 09:29] #173 closed

[2022-10-19 14:37] rufuspollock commented on #68
@PhilippeduPreez

- please do update acceptance items with some detail of what happened. i'd want much more info in the acceptance updates about what you did exactly.
- In general, can you summarize in the issue about the approach you took. (usually this would even happy early on in the work rather than at the end)

[2022-10-19 21:09] PhilippeduPreez commented on #68
I Tested whether any existing packages worked, but I found them to be full of errors, so made a new plugin from scratch [here](https://github.com/flowershow/remark-embed-plus) and uploaded to npm.

[2022-10-20 11:22] rufuspollock opened #216 "Alpha release sharing on different forums"
Blog post on flowershow plus sharing on relevant fora ...

## Acceptance

- [x] "blog post" on flowershower.app (for now just in a new blog folder - can replicate the content in the discussion forum post) **2022/11/07 https://github.com/flowershow/flowershow/blob/main/site/content/blog/alpha-release.md**
- [x] Posted tutorial/intro on dev.to (and medium?)
- [x] Posted on reddit, obsidian forum etc

[2022-10-20 11:24] rufuspollock commented on #179
@PhilippeduPreez please update here as we do things e.g. update acceptance and add comment in comments thread.

[2022-10-20 16:50] khalilcodes commented on #111
@olayway @rufuspollock

### Changes for importing custom components in ecosystem

- Ecosystem components moved to content/components and symlinked to components/ecosystem folder.
- Profiles document type fields modified due to contentlayer errors
  - Some fields are either strings or null or numbers in the fronmatter (which was not an issue before upgrade). Resolved using field type `type: "json"`

[2022-10-21 10:32] olayway opened #217 "Split docs/syntax into several pages"

[2022-10-22 11:11] olayway opened #218 "Error when trying to unlink Unix symlinks on Windows"
When running `npx flowershow install` on Windows:

![image](https://user-images.githubusercontent.com/52197250/197335753-4b63e292-74bb-425b-a94a-382ac38f45ac.png)

[2022-10-22 12:24] olayway opened #219 "E2E CLI testing for Windows"

[2022-10-24 06:29] rufuspollock commented on #218
@olayway for now, it could be simplest to say we don't support windows until we figure out a solution for these kind of issues.

[2022-10-24 06:31] rufuspollock commented on #213
@olayway this stuff i think can be done outside of E2E in more conventional tests. Remember how i said the CLI system should split into a library and a wrapper. We can test the library part with more conventional unit tests (modulo question of running the next app ...)

[2022-10-24 06:32] rufuspollock commented on #212
@olayway i would collect all these "bugfix" issues in one issue for now as probably some of them inter-relate. I also note you can achieve the result in a few different ways e.g. removing .flowershow in a `finally` statement on exception etc.

[2022-10-24 06:54] rufuspollock commented on #111
@khalilcodes did this get done friday? is ecosystem stuff now merged and we can close this?

[2022-10-24 07:00] rufuspollock opened #220 "[inbox] For bugs and improvements to Flowershow Alpha"
- [ ] currently have eslint and prettier config, plus tests which clutter up a flowershow install and aren't relevant for users (and even problematic e.g. lint stuff may lead to build failing because users components aren't compatible)

[2022-10-24 10:05] khalilcodes commented on #111
@rufuspollock This has been blocked again as the build is failing https://github.com/life-itself/ecosystem/pull/91

import of orgs/profiles from "contentlayer/generated" in markdown (which is done in component) fails as the content is not yet generated

[2022-10-25 06:09] rufuspollock opened #222 "Use Flowershow to create datopian website"
Use Flowershow to create new datopian website. Main description is elsewhere so leave this as stub for now.

[2022-10-25 06:35] rufuspollock opened #223 "Use Flowershow to create new lifeitself.org website"

[2022-10-25 08:05] olayway opened #224 "Add docs page for `data` contentlayer document field type"
Feature added in PR #221

[2022-10-25 11:01] olayway opened #225 "Create a blog post out of our alternatives analysis"
TBD
link to our Obsidian Publish alternatives

[2022-10-25 11:04] olayway opened #226 "Alpha release follow-up issue"

[2022-10-25 11:05] olayway commented on #179
Fixed, follow-up issue in https://github.com/flowershow/flowershow/issues/226

[2022-10-25 11:05] #179 closed

[2022-10-25 11:11] olayway commented on #222
Fixed, site working

[2022-10-25 11:11] #222 closed

[2022-10-25 11:41] olayway opened #227 "Merge ecosystem.lifeitself.org with lifeitself.org"
Mirror issue tracked here: life-itself/community#167

[2022-10-25 11:41] olayway opened #228 "Alpha release CLI fixes"
## Tasks

- [x] change `npx flowershow install` to `npx flowershow@latest install` in our docs **✅ 2022-10-28 [#72e15a7](https://github.com/flowershow/flowershow/commit/72e15a76690572845aa238376d850228ac88efc2)**
- [x] additional info in the console, like:
  - [x] "No config.js / index.md file found in your content folder. Creating one..."
- [x] #235
- [x] #218
- [x] Have `npx flowershow@latest in

[2022-10-25 11:42] olayway opened #229 "Extend E2E testing"

[2022-10-25 12:19] #111 closed

[2022-10-26 17:32] olayway opened #230 "Add "report an issue" button at the bottom of a page"
See e.g. https://nx.dev/recipes/getting-started/set-up-a-new-workspace

[2022-10-26 17:33] olayway opened #231 "Create an issue template"
Create an issue template to make it easier for people to report bugs and for us to read the submitted issues.

[2022-10-27 09:15] PhilippeduPreez opened #232 "Add firstname field to email sign up"
We are currently not capturing names or surnames for our email list. Adding name introductions in our emails will help with not going to spam

# Tasks
- [x] Add name field to email signup **✅ 2022-10-28 done**
- [ ] Check options for forwarding signups to mailchimp **Not priority atm**

[2022-10-28 04:59] aliamini87 opened #233 "Error: ENOENT: no such file or directory, unlink '...flowershow/content'"
I tried to install flowershow but ... the image below shows what happened. Then installing last forever!

windows10 with updated npm.

![image](https://user-images.githubusercontent.com/91720545/198506322-b1e76182-6b31-4d63-9e57-08bb2fe60698.png)

[2022-10-28 06:44] rufuspollock commented on #231
I'm not sure the volume of issues makes this necessary yet. We already have our own implicit template for our issues https://playbook.datopian.com/issues-tasks/

[2022-10-28 06:46] rufuspollock commented on #224
Guess this goes in https://flowershow.app/docs/mdx (?)

[2022-10-28 08:48] PhilippeduPreez commented on #199
@olayway I had a look at the navbar when working on it earlier and noticed that when the navbar is opaque, it becomes difficult to read some navbar items when it is in front of background text

[2022-10-28 10:10] olayway opened #234 "CLI support for Windows"
## Known bugs

When running npx flowershow install on Windows:

![image](https://user-images.githubusercontent.com/52197250/198564342-8d09b82e-01fa-4cda-ac00-32f306a703d6.png)

Reported also here: https://github.com/flowershow/flowershow/issues/233#issue-1426675731

[2022-10-28 10:17] olayway commented on #218
I've gave it a try fixing it but I don't really have an option now to develop on windows so for now we'll be displaying a warning in the console if sb tries to run it on Windows.

https://github.com/flowershow/flowershow/commit/1da0a98cfeaba40ff8834ef7d621a3217a133d8d

I have also created a separate issue for working on support for Windows (#234), so I'm closing this one.

[2022-10-28 10:17] #218 closed

[2022-10-28 10:23] olayway commented on #233
@aliamini87 Thank you so much for reporting the issue! Unfortunately, the Flowershow CLI is not yet supported on Windows. We have just added a warning that will be displayed in the command line when you try to run it on Windows, as well as a note in our tutorial.

Closing as the support for Windows is now being tracked in #234

[2022-10-28 10:23] #233 closed

[2022-10-28 13:57] olayway commented on #232
@PhilippeduPreez I've just added the name input next to the email input. But for some reason now after hitting "Notify me", the `subscribed` page is not displayed but rather 404. But I'm on it!

[2022-10-28 14:03] olayway commented on #232
fixed

[2022-10-28 14:03] olayway commented on #232
![image](https://user-images.githubusercontent.com/52197250/198631204-f2e60020-71a7-4dc4-afd5-f9542a87671c.png)

[2022-10-28 14:28] PhilippeduPreez commented on #226
@rufuspollock Draft ready for post medium/dev.to

https://hackmd.io/qdIQhRyKQuamDa4lvGeEvQ

Will post when you approve

[2022-10-28 21:12] olayway opened #235 "Change absolute paths to relative paths in symlinks"
Another UX bug is that currently we set up symlinks with *absolute* paths and these obviously break on deployment to a hosting service if you use e.g. git deploy with cloudflare, vercel, netlify etc.

_Originally posted by @rufuspollock in https://github.com/flowershow/flowershow/discussions/215#discussioncomment-3991071_

[2022-10-28 21:20] olayway commented on #216
@PhilippeduPreez I think it would be a good idea to also add [hacker news](https://news.ycombinator.com/) to the list. It's very popular among the coding community.

[2022-10-28 21:42] olayway commented on #212
Actually, I have already solved it while working on the alpha release version. I forgot to close this issue.
Commit: 85776cc12d4fb8a680ed1135432d79ca5d0d058e

[2022-10-28 21:42] #212 closed

[2022-10-30 08:13] rufuspollock commented on #45
@olayway just ran into this bug myself in building on life itself site. IMO this is a bug upstream in contentlayer - shouldn't it be ok with empty pages?

[2022-10-30 08:23] rufuspollock commented on #13
@olayway could we do a quick look (1h or so) to get a sense of how much work this is and the pros/cons? I note that eg. pliny uses typescript and seems to be direction of travel for many projects.

[2022-10-30 09:01] rufuspollock opened #237 "Switch to using roadmap driven by github projects"
Follow up from: https://github.com/flowershow/flowershow/discussions/183

Currently we have https://flowershow.app/docs/roadmap plus some stuff listed on the front page.

Suggestion: converge on using a dedicated kanban board that only lists major features (the ones that matter for users). If wanted we can embed or link this from roadmap page.

Why:

* Currently we repeat information in ~3 places:

[2022-10-30 12:31] rufuspollock opened #238 "Analytics other than Google Analytics (and switch to pliny model)"
Suggest we support broader set of providers e.g. plausible, simpleanalytics etc.

Easiest way would be to adopt the relevant pliny module: https://github.com/timlrx/pliny/tree/main/packages/pliny/src/analytics (which also supports google analytics).

## Acceptance
- [x] Add `analytics` component to `@portaljs/core` ** ✅18/1/2024 https://github.com/datopian/portaljs/commit/96904aef0dedff6ae38a98f18

[2022-10-30 22:01] rufuspollock opened #239 "Authors attribute for pages with associated author info"
Supporting have a database of authors with metadata like fullname and image and use that on pages and posts that have author/authors frontmatter. Nice to have functionality where in absence of a database match you can just use the name as it is ... (?)

### Details

Expected behavior:

[code]

### Look

Take inspiration from e.g. nextjs blog

<img width="783" alt="image" src="https://user-images.g

[2022-10-31 09:15] olayway commented on #226
@rufuspollock please let us know if we should change anything and if not, can you please post it on medium and dev.to? If I remember correctly you already have accounts there with some past activity and you wanted to post the article yourself.

@PhilippeduPreez I think you can post it yourself on dzone and hackernews though once this is accepted :)

[2022-10-31 12:18] olayway commented on #18
@rufuspollock I'd recommend we also include all our remark plugins in our monorepo (maybe next sprint)

[2022-10-31 21:14] PhilippeduPreez commented on #216
@olayway Moderators remove posts if you link your own tool on Obsidian threads. At least that is what I have experienced

[2022-10-31 23:34] olayway commented on #216
@PhilippeduPreez Ok, so let's leave Obsidian threads for now and maybe let's see if other alternatives have some reddit threads as well and at least post there?

And apart from that, the last thing to do here would be:

[2022-11-01 08:40] khalilcodes commented on #169
@rufuspollock @olayway started to work on this yesterday with good progress.

One question is that should we now keep the algolia keys etc in `config.js` similar to pliny's approach ? They are public anyways imo.

[2022-11-02 11:50] PhilippeduPreez commented on #232
https://imranhsayed.medium.com/adding-mailchimp-subscribe-newsletter-in-next-js-react-application-7c776daae710 possible solution for sending signups directly to mailchimp

[2022-11-02 11:54] rufuspollock commented on #227
FIXED. PR is ready to go https://github.com/life-itself/community/pull/174 and only a question of whether want to merge and when.

[2022-11-02 11:54] #227 closed

[2022-11-02 11:58] rufuspollock opened #242 "Put up a blog post on flowershow with comparison of Obsidian Publish alternatives and Flowershow"

[2022-11-02 12:32] rufuspollock opened #243 "Make callout types case insensitive"
And as a bonus can we:

- move callout docs to only location e.g. https://flowershow.app/docs/callouts
- document the main callout types in a our docs emphasizing they follow obsidian and see there for main docs

[2022-11-02 12:36] rufuspollock commented on #119
FIXED. @airtonix this is resolved with the release of self publishing tutorial and functionality https://flowershow.app/docs/publish-tutorial

[2022-11-02 12:36] #119 closed

[2022-11-02 13:19] rufuspollock opened #244 "Basic anonymous telemetry on CLI"
Normally into google analytics as backend.

## Acceptance

- [x] Defined approach and estimate
- [x] Tracking raw data on runs of `install`, `build` (`build-export`) etc so that we can get counts per week
- [x] info on machine OS
- [x] info on node version
- [ ] (perhaps) error reports (though with no detail) j just that an error happened and command being run

## Tasks

- [x] Research options and

[2022-11-02 13:59] rufuspollock opened #245 "Theme new lifeitself.org"

[2022-11-02 20:28] rufuspollock commented on #68
@PhilippeduPreez do we have documentation of this in flowershow e.g. https://flowershow.app/docs/social-previews - if not can we quickly add this with an example and/or screenshot of that.

[2022-11-02 20:32] rufuspollock commented on #232
@olayway @PhilippeduPreez can we close this? I believe we said today this was already done 😄

[2022-11-02 20:42] rufuspollock commented on #95
@khalilcodes when closing a substantive issue like this can we get a bit more info e.g. a screenshot and/or link to example pages - that is really useful when reviewing the issue.

I also wanted to flag what seems like potentially buggy behaviour on e.g. this page: https://flowershow.app/meta/publishing-design. Here a whole set of headings don't show up in ToC on RHS (my guess is because nested wi

[2022-11-02 20:44] PhilippeduPreez commented on #232
FIXED

[2022-11-02 20:44] #232 closed

[2022-11-03 06:49] rufuspollock opened #246 "Data presentation in tables and graphs (data literate documents)"
Present data e.g. csv or markdown tables in elegant tables and graphs.

## Tasks

- [x] #286
- [x] Implement **✅2023-12-19 see live example with Flowershow Cloud at https://datarich-demo.flowershow.app**
- [x]  do a write-up (e.g. blog post) about how you use portaljs data presentation components with Flowershow @mohamedsalem401 ** ✅2024-02-02 https://flowershow.app/docs/data-visualization **

[2022-11-03 07:16] rufuspollock opened #247 "Feature section v0.2 on the front page"
When looking at product I want to get an overview of top features at a glance (and be a bit wowed by elegance of presentation)

When looking at product i want to get a sense of the breadth and comprehensiveness of the features

When maintaining the site (as flowershow team member) I don't want to have to keep manually updating feature info in two places e.g. the feature page and the front page fea

[2022-11-03 08:21] PhilippeduPreez opened #249 "Summarize Learnings / feedback from alpha release (on reddit etc)"
Add any feedback/issues from threads here etc for further investigation

## Acceptance

- [x] List the places we posted
- [x] List how many comments we got
- [x] Summarize or excerpt main feedback (+ve, suggestions, bugs etc) - link to source as well
- [x] After triage create issues for key bugs / items (or add to existing issue)

## Places Posted

- Obsidian forums - 0 comments (But did get click

[2022-11-03 08:33] PhilippeduPreez commented on #249
@olayway Obsidian links to new notes not working.

https://discord.com/channels/1029670148824641576/1029670149470556172/1037387204261072896

[2022-11-03 09:25] PhilippeduPreez opened #250 "Blog trial on datopian site"

[2022-11-03 10:10] rufuspollock commented on #237
FIXED. Updated website as per acceptance. Plus gone through issues pretty extensively and added main ones to roadmap.

[2022-11-03 10:10] #237 closed

[2022-11-03 19:45] khalilcodes commented on #95
@rufuspollock Thanks for flagging this bug, will look into it.

[2022-11-03 19:48] #228 closed

[2022-11-04 08:59] PhilippeduPreez commented on #249
inline LaTeX input are rendered as separate lines

https://discord.com/channels/1029670148824641576/1029670149470556172/1037911929093628034

[2022-11-04 09:34] rufuspollock commented on #249
@PhilippeduPreez can you directly inline here the key points / comments (e.g. directly quote the channel comment) so we don't have to link through (or get link rot later).

[2022-11-04 09:35] rufuspollock commented on #231
WONTFIX. For now i suggest. We can reopen later.

[2022-11-04 09:35] #231 closed

[2022-11-06 16:57] rufuspollock commented on #5
[blacksmithgu/obsidian-dataview](https://github.com/blacksmithgu/obsidian-dataview)

👍 and had already been looking at that. notes coming soon.

[2022-11-06 17:30] rufuspollock commented on #5
Posted research so far in https://flowershow.app/notes/obsidian-database-research

[2022-11-06 17:37] rufuspollock opened #252 "Pricing page (bonus: way to be supporter / donor)"
When developing flowershow I want a way to get funded and supported so that we can sustain and increase our efforts

## Tasks

- [x] Analyse options e.g. use stripe, open collective etc **✅2025-02-10 use stripe**
- [x] Create pricing for cloud**✅2025-02-10 a long time ago at https://flowershow.app/pricing (own pricing page)**
- [x] Create own pricing page https://flowershow.app/pricing (and link i

[2022-11-07 00:35] #235 closed

[2022-11-07 01:19] olayway commented on #216
@PhilippeduPreez I've just posted on dev.to and medium (links in the issue description). Please prepare a short thread for twitter and share with @rufuspollock. And the last thing here would be to create a blog post that will show up on our site and that we could link to e.g. in the twitter thread.

[2022-11-07 09:11] PhilippeduPreez commented on #249
- using MacOS Ventura latest version in a Macbook Air M1.
- tried to install selecting an attachment folder and also without selecting it.

![image](https://user-images.githubusercontent.com/44789132/200271636-8697559e-2f07-42d4-b818-cbd145a451c2.png)

[2022-11-07 09:59] PhilippeduPreez commented on #216
@rufuspollock https://hackmd.io/JJXYyhl2Q_GRqvuiL6dw-w twitter alpha release post

[2022-11-07 11:17] rufuspollock opened #253 "Upgrade to nextjs v13"
We want to upgrade to latest nextjs v13 as e.g. pliny uses it and we get latest stuff.

## Acceptance

- [ ] Flowershow upgraded to NextJS v13

## Tasks

- [ ] Analyze what is required
- [ ] Make upgrades

[2022-11-07 11:19] rufuspollock opened #254 "Howto: create a custom 404 page"

[2022-11-07 20:27] Wittionary commented on #234
As a note to other people looking to try out Flowershow, it does work on WSL. It just requires a WSL-installation of nodejs.

[2022-11-08 10:44] PhilippeduPreez commented on #200
npm audit fix:

![image](https://user-images.githubusercontent.com/44789132/200544379-737bc1f9-2c86-473f-9679-ac19c88fd8aa.png)

[2022-11-08 10:45] #243 closed

[2022-11-08 10:51] PhilippeduPreez commented on #200
![image](https://user-images.githubusercontent.com/44789132/200545730-5b4bd5eb-560a-47ec-bc3c-482223bc7181.png)

[2022-11-08 10:59] rufuspollock commented on #249
This looks like a genuine-ish bug (and hsould be quite minor). Can you split this out to a separate issue and assign to yourself.

[2022-11-08 11:02] PhilippeduPreez commented on #200
Also tried removing package.json.lock and node modules and run npm i --legacy-peer-deps.

[2022-11-08 11:23] rufuspollock commented on #91
I think there is some UI issues atm with how this works:

- Width of sub-items is constrained to width of main item which is problem if text is longer (see image) <img width="399" alt="image" src="https://user-images.githubusercontent.com/180658/200549733-2ee36f3e-83b6-4d47-b301-470e0add61d9.png">
- No indication that subitems exist e.g. no marker. cf current life itself website with the carets or

[2022-11-08 11:56] #18 closed

[2022-11-08 11:57] rufuspollock opened #257 "Tutorial: Self-publish tutorial v2 - ultra-simple (maybe video)"
## Acceptance

- [ ]  Super-simple tutorial on how to publish a markdown file(s) with flowershow
- [ ] As an add-on indicate you can publish an entire directory etc
- [ ] How to add assets (i.e. images etc)

## Tasks

...

## Analysis

[2022-11-08 12:12] rufuspollock opened #258 "Tool and Tutorial: migration wordpress to Markdown for Flowershow"
When on wordpress i want to switch to flowershow / nextjs because it is awesome so that i can maintain my site more easily etc

After running output is something like this:

[code]

## Acceptance

- [x] Analysis with e.g. libraries used and / or script **Going with adjustments to https://github.com/lonekorean/wordpress-export-to-markdown**
  - [x] Specification of frontmatter fields and specific i

[2022-11-08 12:44] rufuspollock opened #259 "Cloud publishing feature analysis"
Do first pass analysis for Flowershow cloud publishing.

## Acceptance

**✅2022-11-22 see https://github.com/flowershow/flowershow/commit/40d1cfb8ae84476d58d3c1c70def3dbf0c9b590b and commit https://github.com/flowershow/flowershow/commit/40d1cfb8ae84476d58d3c1c70def3dbf0c9b590b**

- [x] job stories written
- [x] ideas for implementation

## Tasks

- [x] write job stories
- [x] outline options
- [x

[2022-11-08 12:47] rufuspollock opened #260 "Datopian site content migration"
## Tasks
- [x] Migrate existing content **migrated content with some missing components etc**
- [x] Meet with Datopian team and discuss **Meeting with Yoanna 1/12/2022 Opened an issue on next.datopian.com for any more questions or difficulties they may have**

[2022-11-08 12:47] rufuspollock opened #261 "Life Itself content migration"
Transfer all content (pages, blog and images) from Life Itself's wordpress site to next.lifeitself.org repo - https://github.com/life-itself/community

## Acceptance

- [x] Convert all content to markdown using tool - https://github.com/flowershow/wordpress-export-to-markdown-plus
- [x] Migrate converted content to repo eg. pages to `vault/pages`, blog to `vault/blog`, etc

## Tasks

- [x] Convert

[2022-11-08 20:30] rufuspollock commented on #188
@olayway can we close this now either as WONTFIX or FIXED after your work on monorepo and changesets?

[2022-11-09 11:30] rufuspollock commented on #257
Next 24h: write out the script and prep files etc.

[2022-11-09 12:47] olayway commented on #188
FIXED with #18

[2022-11-09 12:47] #188 closed

[2022-11-09 12:58] #224 closed

[2022-11-09 13:02] olayway opened #262 "Fix github workflows after monorepo work"
## Acceptance
- [x] workflows complete successfuly

[2022-11-09 14:47] khalilcodes commented on #169
@rufuspollock  @olayway Kbar generates a `search.json` but after deploy in latest PR #248 it doesn't seem to pick up the json file leading to empty results in search.

**Note:** It did seem to work on first deploy before doing a git rebase to latest flowershow and also works when I did a deploy preview of the 'out' directoy on a separate netlify account - https://636bbbb7260c5c6ad29b58ab--previews

[2022-11-09 15:48] olayway commented on #262
Fixed with #263

[2022-11-09 15:48] #262 closed

[2022-11-09 19:21] bilalshaikh292 commented on #198
hey ,@olayway I am working on this issue.Can you tell which color should I use?Is it white background or some other color to match the rest of the light theme?

[2022-11-09 19:27] bilalshaikh292 commented on #199
heyy,i want to work on this issue?

[2022-11-09 19:27] bilalshaikh292 commented on #199
heyy, @rufuspollock do wo have the make the navbar opaque for all the pages?

[2022-11-09 20:27] olayway commented on #152
Actually, this has nothing to do with forward or back slashes. It's just the difference between implementation of symlinks on these two systems.

[2022-11-10 11:38] olayway opened #265 "Font and color theming for next.lifeitself.org with notes for tutorial and any changes to template app"
A notes / tutorial write up on how to add fonts and colors to a flowershow site based on while doing the updates on next.lifeitself.org

## Acceptance

- [x] changes made on lifeitself
- [x] Tutorial / howto on how to do this published as a blog post
- [x] List of recommended changes to template app

## Tasks

- [x] Add a font from fonts.google.com and use that in pages, components. **✅ using this

[2022-11-10 11:39] olayway opened #266 "Create a podcast landing page for next.lifeitself.org"
See https://github.com/life-itself/community/issues/193

[2022-11-10 11:43] olayway opened #267 "Support capitalized file and directory names"

[2022-11-10 12:01] olayway commented on #198
Hi @bilalshaikh292! Sorry for not replying to your earlier comment!
I think white background will be good. And please do let me know if you have any other questions. Thank you for your willingness to work on that! 😊🌼

[2022-11-10 12:22] khalilcodes commented on #266
@rufuspollock wip for podcast layout and `content/podcast/index.md` page

[2022-11-10 13:33] rufuspollock commented on #266
@khalilcodes great. can we track in https://github.com/life-itself/community/issues/193

[2022-11-10 13:36] olayway opened #268 "Remove unneded dev files from template installed by the CLI"
There are still some files that are not needed in the template degitted by the CLI, like: .env.example, .eslintrc.json, jest.config.js, netlify.toml, project.json.

## Tasks
- [x] remove `/specs` folder
- [x] move `netlify.toml` to root
- [x] remove `eslintrc.json`, `jest.config.js` and `project.json` at `npx flowershow install`

[2022-11-10 14:30] olayway opened #269 "Allow for installing the template in the content folder (?)"
Not sure if we want to support it but:

It's not possible atm to install the template inside the content folder. This will result in the following esbuild error, even though we have `.flowershow` specified in contentlayer config's `contentDirExclude`.

[code]

[2022-11-10 15:00] olayway opened #270 "CLI template and content directories fixes"
Related to #269

Atm the CLI allows for installing the template inside of the content folder which will result in esbuild error related to an infinite loop of symlinks. It would also be good to ask a user if the CLI should create for him a content folder, if the directory provided by him doesn't exist.

## Acceptance
- [x] check during the installation process if template destination path provided

[2022-11-10 17:03] olayway commented on #257
@PhilippeduPreez I've just added some comments to your script

[2022-11-10 17:12] olayway opened #271 "Add command "flowershow add [assets/components/getters]""
The user might have not needed assets folder at the beginning. But then, if they need one, they would have to create a symlink to this folder manually. It would be good to also allow users to add custom components or getters folder using the CLI, so that they don't have to create and synlink them manually.

## Acceptance
- [ ] add command "flowershow add [assets/components/getters]"  or similar

[2022-11-10 17:41] olayway commented on #267
@khalilcodes actually I think we shouldn't lower-case paths if they were created with capital letters. We should fix it in our wiki-links plugin.

https://www.searchenginejournal.com/google-urls-are-case-sensitive/421264/#:~:text=Two%20URLs%20could%20look%20the,%2C%20yes%20%E2%80%94%20these%20things%20matter.

[2022-11-10 18:34] olayway opened #272 "Inline LaTeX shows on multiple lines"
![image](https://user-images.githubusercontent.com/52197250/201178157-96635e54-bf9e-4a89-8a62-c6359b5d34ea.png)

Renders as:
![image](https://user-images.githubusercontent.com/52197250/201178193-8ed4341c-d3dd-4d53-b437-7159c498ade7.png)

[2022-11-10 19:51] ErtugrulSener commented on #61
What also would be nice:
- [Admonition](https://github.com/valentine195/obsidian-admonition)
- [Spaced Repition](https://github.com/st3v3nmw/obsidian-spaced-repetition)

[2022-11-10 21:07] olayway opened #273 "CLI doesn't recognize "~" as "/home""
Should it though? Or just check if the user provides a path that starts with "~" and print a descriptive error message?

![image](https://user-images.githubusercontent.com/52197250/201205848-ecf76f7e-c04f-49ed-bc7a-f48c0ae6c32b.png)

[2022-11-11 08:56] olayway commented on #257
@PhilippeduPreez I've just seen your updated version of the script and it's awesome! I think we're ready for the shooting! 🎬 🎥

[2022-11-11 09:17] #152 closed

[2022-11-11 09:54] olayway commented on #234
Solved with #264

[2022-11-11 09:54] #234 closed

[2022-11-11 09:59] olayway commented on #234
@Wittionary we've just fixed this issue on Windows so you should be able to use Flowershow without WSL. It's not yet thoroughly tested though, so let me know if you encounter any issues.

[2022-11-11 10:57] olayway commented on #253
From Contentlayer repo:

![Image](https://user-images.githubusercontent.com/52197250/201326234-c18d94d4-5e9a-485d-b713-5afe83c191c5.png)

Right on time! 😄

[2022-11-11 11:49] rufuspollock commented on #61
@ErtugrulSener we now support obsidian callouts so would admonition be needed?

For spaced repetition what would you want on the published site from spaced repetition (interactive support for users?)

[2022-11-11 13:03] olayway opened #275 "CLI: export command instead of build-static"
## Acceptance
- [x] `npx flowershow build-static` renamed to `npx flowershow export` **2022-11-11 done #276**

[2022-11-11 14:00] olayway commented on #275
@rufuspollock I'm leaving the `build` command as it was in case we need it in the future, but I'm renaming the `build-static` one with just `export`. So now these two are just aliases for `next build` and `next build && next export`.

[2022-11-11 14:01] olayway commented on #275
@PhilippeduPreez after you approve the PR (which doesn't really require any special code review, it's rather FYI) I'll publish the updated CLI version and you can then already use the export command on the demo!

[2022-11-11 14:10] #275 closed

[2022-11-12 07:41] ErtugrulSener commented on #61
@rufuspollock I think there are some main differences between the callout boxes and Admonition, but the most important one for me is: Syntax.

[code]

just feels more natural as you type. Especially try nesting obsidian callouts with the given syntax and you will see, how unreadable it got. Also the design (as far as I can see), including the little icons on the left based on the type of the box i

[2022-11-12 18:32] bilalshaikh292 commented on #198
heyy @olayway do we have to make the new theme like this.this is full white.do we have to white back ground or opaque?

[2022-11-12 18:33] bilalshaikh292 commented on #198
![sample 1](https://user-images.githubusercontent.com/110531971/201489426-43c5acee-2f70-4385-ba8a-bdc1b996cabf.PNG)

[2022-11-12 21:15] rufuspollock opened #277 "Make favicon configurable"
Currently favicon is hardcoded. Would be nice to make favicon link configurable (plus provide some guidance on how to do an svg one in the docs!)

## Acceptance

- [ ] Favicon configurable from the config
- [ ] Docs for this e.g. docs/favicon

## Tasks

- [ ] Get favicon href from config in `components/Layouts.jsx`
- [ ] Add docs

[2022-11-12 22:05] rufuspollock commented on #61
@ErtugrulSener to check the current [obsidian-admonitions plugin](https://github.com/valentine195/obsidian-admonition) (have i got the right one) says:

So it sounds like they are converging on obsidian callouts is that right?

[2022-11-12 22:07] rufuspollock commented on #198
@bilalshaikh292 it should basically render with an appropriate color e.g. on the dark them what color does code block render as (is it the same color i.e. transparent against background or ...)

[2022-11-13 16:31] ErtugrulSener commented on #61
I think you missunderstood the description. Obsidian 0.14 is out since some time. The text you quoted says, that they are an enhancememt for obsidian callouts, since the original syntax is shit.

[2022-11-13 18:55] olayway commented on #244
@rufuspollock see my notes below and let me know you thoughts! Thanks!

[2022-11-13 18:56] olayway commented on #244
btw, is Datopian using a free or paid plan on Sentry?

[2022-11-14 09:39] olayway commented on #253
One of the kbar dependencies requires React 16 or 17:

[code]

even though the latest kbar version lists React 18 as one of their peers:

https://github.com/timc1/kbar/blob/f557c85e48e2d20d8a87ae71c2830e88330ee0a4/package.json#L66-L69

Submitted an issue in the kbar repo: https://github.com/timc1/kbar/issues/256

[2022-11-14 09:42] olayway commented on #253
Before this is fixed we could try suppressing the warning with:

[code]

and see if kbar works as expected and then remove the above config after React 18 is supported by reach-ui

[2022-11-14 09:51] olayway opened #278 "warn - ../../node_modules/.pnpm/mermaid@9.2.0/node_modules/mermaid/dist/mermaid.core.mjs Critical dependency: the request of a dependency is an expression"

[2022-11-14 10:09] rufuspollock commented on #244
Let's just track "there was an error" using google analytics - and ignore detailed error stuff later (if needed).

[2022-11-14 11:47] olayway opened #279 "LSP errors in site created with Flowershow template"
In the template we are sometimes disabling some eslint rules inline which results in the LSP freaking out about missing eslint config.

[2022-11-14 18:57] khalilcodes commented on #267
@olayway Fixed with latest package bump `v1.1.1`

**Note:** Obsidian doesn't allow to create both `/content/blog.md` and `/content/Blog.md` with error file already exists but allows `/content/blog.md` and `/content/blog/index.md`. That's a tricky situation. 😅

[2022-11-14 21:49] PhilippeduPreez commented on #68
docs added at https://flowershow.app/docs/social-previews

[2022-11-15 10:39] olayway opened #283 ""Built with Flowershow" gallery on our website"

[2022-11-15 11:20] olayway commented on #244
I’ve eventually ended up using the same package that is used in datopian’s data-cli - “universal-analytics” as I couldn’t find the node client that supports the new GA4 (I think I have found one that might be what I was looking for but it’s still in alpha, and I think the full API is not exposed yet)

[2022-11-15 11:20] olayway commented on #244
@rufuspollock  Atm I’m sending two events: 1) with OS and Flowershow version being used 2) with command being run and arguments passed. I'll also add an event that signals errors.

[2022-11-15 11:23] olayway commented on #244
I’ve added a prompt asking about a confirmation to send anonymous telemetry - but I’m not sure if it’s needed + I have to adjust it a bit so that the user answer is saved somewhere and this question doesn’t show up each time

[2022-11-15 11:39] olayway commented on #150
Analysis still to be written down - https://hackmd.io/kXy3EyzjROeZuBASmT4E7Q

[2022-11-15 11:58] olayway commented on #270
moving to #166

[2022-11-15 11:58] #270 closed

[2022-11-15 12:01] khalilcodes commented on #265
Closed with PR https://github.com/life-itself/community/pull/192 with pending minor changes in comments.

[2022-11-15 12:30] #267 closed

[2022-11-15 12:37] olayway opened #284 "RHS ToC some headings don't show up"
Comment from @rufuspollock in https://github.com/flowershow/flowershow/issues/95#issuecomment-1301209125_

# Acceptance

- [ ] RHS ToC working on pages
- [ ] Missing headings show up

# Tasks
- [x] Move all ToC functions to core
- [x] Headings for h1, h2 and h3
- [x] Page Title heading not in ToC.
  - This is setup to check for fronmatter title or h1 heading as first row (eg. `# Page Heading` and

[2022-11-15 12:49] #250 closed

[2022-11-15 15:01] olayway opened #285 "What's new in Flowershow - post about updates on forums"
## Acceptance
- [x] draft in hackmd **2022/11/17 https://hackmd.io/lIsBQJ7yTkyZfHjfneHqgQ**
- [x] post on Obsidian Forum **2022/11/17 [Obsidian](https://forum.obsidian.md/t/flowershow-a-free-open-source-tool-for-publishing-your-obsidian-vaults/41966/3)**
- [x] post on reddit **[Reddit](https://www.reddit.com/r/ObsidianMD/comments/wvqtzf/comment/iwr3aoo/?utm_source=share&utm_medium=web2x&context=3)

[2022-11-15 15:06] olayway opened #286 "Data rich/literate documents analysis"
"Data ~~Literate~~ Rich Documents" is our terminology for markdown documents that includes tables, graphs etc as well as for straight up dataset publishing. The terminology emerged out of work over the years with DataHub and Datopian and see post about it in early 2021 on PortalJS https://portaljs.org/data-literate and the demo there.

## Acceptance

- [x] job stories written
- [ ] ideas for imple

[2022-11-15 15:24] olayway opened #287 "Adjust E2E CLI tests to use current version of the template rather than degitted one (?)"
so that e2e tests run locally take into account changes made to the template before the they are merged to main and can be degitted by CLI

Remember to:
- add the template back as an implicit dependency of CLI for nx

[2022-11-15 15:42] olayway opened #288 "Upgrade Flowershow template on Lifeitself and Datopian sites"
Upgrade to Flowershow v0.3-alpha (main!) - specifically including the blog feature.

## Acceptance

- [x] Datopian upgraded **Done**
- [x] Life Itself upgraded **Done in #212**

[2022-11-15 20:03] #244 closed

[2022-11-16 15:22] olayway opened #289 "TypeError: Cannot read properties of null (reading 'length')"
When running `npm run dev` or `npx nx serve template` sometimes this error shows up:

[code]

The server starts despite the error and it builds successfully.

[2022-11-17 08:42] olayway commented on #253
Kbar team has confirmed that it should work fine with React 18 (and that they should probably switch to using another portal lib as @reach/portal is not maintained).
https://github.com/timc1/kbar/issues/256#issuecomment-1315895099

[2022-11-17 09:12] olayway commented on #169
Closed with #248

[2022-11-17 09:12] #169 closed

[2022-11-17 09:16] #216 closed

[2022-11-17 09:17] #223 closed

[2022-11-17 09:40] rufuspollock commented on #249
@PhilippeduPreez as per discussion can you add links to the source of these issues (e.g. comment on reddit or thread on discord etc). And then can we close asap.

[2022-11-17 09:43] rufuspollock opened #290 "Howto: migration from wordpress to Flowershow"

[2022-11-17 10:22] PhilippeduPreez commented on #249
@rufuspollock  Done

[2022-11-17 10:22] #249 closed

[2022-11-17 20:44] #285 closed

[2022-11-18 09:50] olayway opened #292 "Tutorial: "How to theme your Flowershow website with fonts/colors""
Quick tutorial / howto on modifying your theme using tailwind.config.js

Note: this involves them messing with the `.flowershow` folder so flag that ...

## Job Stories

When i want to theme my site i want to change the default font (i.e. used for navbar, footer, main text) so that ...

When i want to theme my site i want to change the font for headings (and not rest of stuff)

[Low] When i want t

[2022-11-18 10:02] olayway opened #293 "Blog post: "Lessons learnt" after creating LifeItself and Datopian sites with Flowershow"
## Acceptance

Blog post (for our website) on:
- [ ] what were the key challenges, and how have we solved them (if at all)
- [ ] what are the things that we could improve in the next versions of the CLI and/or the template

[2022-11-18 10:10] olayway commented on #288
@rufuspollock can I work on this one?

[2022-11-18 10:14] PhilippeduPreez commented on #200
It seems like d3-color not being 1.3.0 was causing the most problems, I tried following https://itnext.io/fixing-security-vulnerabilities-in-npm-dependencies-in-less-than-3-mins-a53af735261d to see whether it worked. It seemed like it worked with the project having 0 vulnerabilities. We will just have to check if forcing the update does not cause any problems as it is used in a couple of other pac

[2022-11-18 21:38] rufuspollock commented on #150
@olayway your additional comments have been great and really changed the design - i think the component approach is way to go and we can get rid of pagination! I've just refactored design taking these into account and moved to: https://flowershow.app/meta/blog-design. I've integrated this material into #35

[2022-11-18 21:54] rufuspollock opened #295 "[epic] Tag support"
Obsidian has tags of from `#xyz`. Blogs traditionally have tags - cf #35.

How could/would we incorporate tag support in flowershow.

Ideas

- [ ] parsing out tags from pages and adding to frontmatter
- [ ] creating home pages for tags at e.g. /tags/{tag-id} which list all pages with that tag

[2022-11-18 21:58] rufuspollock opened #296 "Blog v0.1 (MVP)"
Create a basic blog system with index component and way to create individual blog posts.

See #35 parent epic for overview of the feature.

## Acceptance

- [x] Blog list getter that finds all blog-type pages (how blog type is defined is up to implementor but simplest is to use `type: blog` or similar in front matter)
  - [x] shows items in reverse date order
  - ~[ ] (? for MVP could just show al

[2022-11-18 21:59] rufuspollock commented on #150
FIXED - see https://flowershow.app/meta/blog-design and updates in #35 and #296

[2022-11-18 21:59] #150 closed

[2022-11-18 22:25] rufuspollock opened #297 "Auto-extract title and description for a page"
Be nice if we didn't have to specify title and description in frontmatter especially for e.g. blog posts.

Could we auto-extract title as line 1 heading (if it exists) and extract description as first X characters/words or first paragraph of page?

Bonus: also set up "updated" date for a post based on e.g. last modified in git (if running off git!)

Here's an issue showing how to extract the descr

[2022-11-19 08:57] Tony-zf1 opened #298 "[Bug] Failed to clone Flowershow template in windows 11"
I use windows power shell with admin to configure but failed, as the screenshot shows below.
<img width="734" alt="image" src="https://user-images.githubusercontent.com/79450935/202843121-acf0292e-517b-445b-b56b-22be590d3d6d.png">

[2022-11-21 08:48] PhilippeduPreez commented on #258
https://hackmd.io/Uq2yzonrQn6z2x8WfqjcIA

[2022-11-21 08:51] PhilippeduPreez commented on #258
Used this so far Use https://github.com/lonekorean/wordpress-export-to-markdown

[2022-11-21 08:53] rufuspollock commented on #287
My thoughts here: CLI tests should be testing the CLI. If the template breaks the CLI on some way that would show up in merge in main (and should be rare). I think we should keep CLI tests using the actual CLI workflow. I get the subtlety here though. I suggest we don't do this immediately though and think a bit.

[2022-11-21 08:53] rufuspollock commented on #257
@PhilippeduPreez can you update here and move to in review or close if done?

[2022-11-21 08:56] rufuspollock commented on #265
@khalilcodes i'm reopening as i added the acceptance - can you update acceptance here with links to outputs or a note. Especially good to have basic tutorial up.

[2022-11-21 10:47] rufuspollock opened #301 "Download tracking for assets like PDFs"
How would this work? How would it interact with remark-wiki-link-plus?

[2022-11-21 13:14] PhilippeduPreez commented on #257
@rufuspollock  Current display of youtube embed. If it looks good enough, I'll push this change and close this issue

[2022-11-21 16:15] olayway opened #303 "Integrate our remark plugins in the flowershow monorepo"
## Acceptance

Integrated:
- [x] remark-wiki-link-plus
- [x] remark-callouts
- [x] remark-embed-plus
- [ ] wordpres-export-to-markdown-plus (?)

Other:
- [ ] run tests for the integrated packages in CI workflow

[2022-11-21 16:46] PhilippeduPreez opened #304 "Tutorial 2: How to add assets"
When coming to Flowershow I want a quick demo video of how to add images/assets

[2022-11-21 17:33] PhilippeduPreez commented on #258
Current CLI setup:

![image](https://user-images.githubusercontent.com/44789132/203122368-882f002e-a746-4de2-9d09-54644c618be9.png)

[2022-11-22 07:30] rufuspollock opened #307 "Main page title variations (with typed.js?)"
Currently main title is focused on "Obsidian" just because we had to pick one item at start:

Suggest we could vary this e.g.:

- Publish your markdown notes, beautifully.
- Publish your [markdown] docs, beautifully.
- Publish your digital garden, beautifully.
- Publish your second brain, beautifully.

Other thoughts

- do we also try out varying "beautifully". Key aspects are: beautiful/elegant,

[2022-11-22 07:33] rufuspollock opened #308 "Research A/B testing options"
Research A/B testing options both at nextjs level and deployment level e.g. netlify, [cloudflare](https://developers.cloudflare.com/pages/how-to/use-worker-for-ab-testing-in-pages/) etc (as seems much is there).

[2022-11-22 08:29] PhilippeduPreez commented on #258
@khalilcodes Just some problems that came up while testing the current tool
- Html in some titles (But the OG titles actually have html in them for some reason)
- hardcoded values to OG website like `https://www.datopian.com/wp-content/uploads/2021/01/Group-4298_desktop.svg`
- Some custom stuff like tables do not convert

[2022-11-22 08:31] PhilippeduPreez commented on #258
@khalilcodes also my headings seems to display correctly when using flowershow, so I think the problem lies in the new datopian version and not the exports.

[2022-11-22 08:39] rufuspollock commented on #258
@PhilippeduPreez

This is why i think brute force migrating `wp-content/uploads` into the assets folder into the public folder is good idea (i've had this experience before). Can you get a `wp-content/uploads` export out of wordpress?

[2022-11-22 09:08] rufuspollock commented on #259
FIXED. See acceptance and https://flowershow.app/notes/design-cloud-publishing

[2022-11-22 09:08] #259 closed

[2022-11-22 09:29] olayway commented on #200
@PhilippeduPreez it seems that mermaid developers have already been working on this issue. The package which was causing the issue was `dagre-d3`, which they have just replaced with `dagre-d3-es`. I've seen their merged the changes only yesterday and for now only to the development branch, so we may need to wait until the next release. I'm marking this issue as blocked for now.

For reference:
htt

[2022-11-22 09:36] olayway commented on #296
@rufuspollock I've used tailwindui components, as I think it matches the rest of our design best. Let me know if it looks good to you

![Image](https://user-images.githubusercontent.com/52197250/203278466-4d33a5b8-d0d8-4558-9919-56e8d3b17716.png)

[2022-11-22 09:41] olayway commented on #296
And I think we don't really need a dedicated layout for the blog pages or this MVP version. Rather, I'd suggest extending the default (docs) layout so that it can display the date and authors if they exist in the frontmatter. Later on, when we need some more customizations, we can create a separate layout.

[2022-11-22 09:44] olayway commented on #296
@khalilcodes let me know what you think about the above layout 👍 or 👎 ? 😄

[2022-11-22 09:52] khalilcodes commented on #296
@olayway Nice !! 🔥 👍

[2022-11-22 10:01] khalilcodes commented on #258
@rufuspollock @PhilippeduPreez Since wordpress users are already aware of plugins, how about just using a free export wordpress plugin like https://wordpress.org/plugins/export-media-library/ and just putting that in the tutorial section eg. "exporting your wordpress assets" ?

[2022-11-22 10:28] olayway commented on #13
@rufuspollock this is still not working in the template due to the `jsx` field being overridden by Next. Contentlayer does have an example repo with Next + TS, but they are not using MDX, but MD, so `jsx` set to `preserve` doesn't cause any problem as `esbuild-mdx` doesn't parse any JSX, only MD.

[2022-11-22 10:56] olayway opened #309 "Video embeds resizing needed"
@rufuspollock  Current display of youtube embed. If it looks good enough, I'll push this change and close this issue.

![image](https://user-images.githubusercontent.com/44789132/203064373-581a276f-a3b4-4861-8b13-2a78a32abd5d.png)

_Originally posted by @PhilippeduPreez in https://github.com/flowershow/flowershow/issues/257#issuecomment-1322048185_

[2022-11-22 11:32] rufuspollock commented on #266
FIXED. this got done.

[2022-11-22 11:32] #266 closed

[2022-11-22 11:38] rufuspollock commented on #309
@olayway can we also link to a live example or have a screenshot showing more of the page - not totally clear what issue is from this.

i think we should have a proper react component for this which we can use either directly or in remark-social-links. I thought this was discussed extensively in web3 repo - let's dig out analysis there.

[2022-11-22 11:56] rufuspollock commented on #205
@olayway reading this i'm not clear what work is involved? Do we need to move the prepare script up still.  Could you also give an estimate of time for this so i can prioritize better 😄

[2022-11-22 12:05] #91 closed

[2022-11-22 12:29] rufuspollock commented on #287
WONTFIX.

[2022-11-22 12:29] #287 closed

[2022-11-22 17:52] olayway commented on #13
I've just submitted an issue in the Contentlayer repo: https://github.com/contentlayerdev/contentlayer/issues/334

[2022-11-22 19:24] khalilcodes commented on #258
@PhilippeduPreez pushed the changes to script we worked on. Note that the images folder now generates within the (output) directory. Also please confirm `.svg` path outputs.

Although we discussed, I'm not convinced if we should be prepending assets like so `[](assets/images/...)` since the assets folder could be named anything else in flowershow. What do you think ?

Other than that I think the h

[2022-11-22 19:32] PhilippeduPreez commented on #258
@khalilcodes another option to `[](assets/images/...)` could be to turn image links into wikilinks since they should be picked up anywhere in public folder as far as I understand. Then we don't need to specify an assets folder

[2022-11-22 20:13] PhilippeduPreez commented on #309
@khalilcodes and I discussed this during our **pair programming session** and came to conclusion that we just need to add a tailwind plugin that seems to have worked. PR #310 created

[2022-11-23 09:58] khalilcodes commented on #258
@PhilippeduPreez that would be digging in more especially since the script uses an xml to markdown parser. Let's keep it default and go with `[](images/...)` imo.

[2022-11-23 12:22] PhilippeduPreez commented on #258
@khalilcodes just and idea for future users we could ask the name of their assets folder in the wizard and append that before like
`[ ]name-of-assets-folder/images/...`

[2022-11-23 16:35] rufuspollock commented on #296
@olayway tip: keep the tutorial basic to start with - we can make perfect after first merge!

[2022-11-23 17:03] #253 closed

[2022-11-23 17:15] khalilcodes commented on #258
@PhilippeduPreez pushed the tests.

[2022-11-23 20:16] PhilippeduPreez opened #313 "Testing the webhook"
testing ... 1... 2... 3

[2022-11-23 20:17] #313 closed

[2022-11-24 09:26] olayway commented on #309
Fixed with https://github.com/flowershow/remark-embed-plus/commit/100f8f1dc4194d637f03994bc76ca5533cd9ac44

[2022-11-24 10:31] olayway commented on #296
@rufuspollock Sure just had to spend some time helping the users on discord and debugging stuff but I'm working on it now so the PR should be ready in ~2-3h

[2022-11-24 10:40] PhilippeduPreez commented on #258
@khalilcodes The date frontmatter ordering works, so we don't need to make any changes to the type

[2022-11-24 10:48] PhilippeduPreez opened #314 "Permalinks that bypass filenames"
I would like to be able to specify a relative permalink or slug for the page in the frontmatter, so that even if I rename or move the note within Obsidian, any external links from other sites to my site's pages won’t break.

[2022-11-24 11:08] rufuspollock commented on #314
@PhilippeduPreez yes, these are "slugs". Can we have a deeper "so that" for this

[2022-11-24 11:45] rufuspollock opened #315 "Use Flowershow for DataHub website"
Upgrade datahub.io nextjs site to use Flowershow.

Main details in DataHub website issue.

[2022-11-24 13:18] olayway opened #317 "Blog v0.2"
Follow up to #296 mainly tidy-ups and minor improvements

## Acceptance

- [x] read more / infinite scroll for reading more posts **2022-12-1 added Read More button as infinite scroll doesn't really make sense if we don't need to wait for any data to be fetched, so the loading would be unnoticeable, only the scroll bar would change**
- [x] e2e tests **2022-12-1 added two simple tests to see if bot

[2022-11-24 13:21] olayway opened #318 "Blog v0.1 (Docs and tutorial)"
## Acceptance
 - [ ] Docs for the feature
 - [ ] Tutorial
   - [ ] what is the feature
   - [ ] screenshot of in action
   - [ ] how to add an index page to the site
   - [ ] how to create a blog post (or turn an existing page/note into a post)

[2022-11-24 14:15] olayway opened #319 "'process is not defined' error when importing components that include Next.js Link in MDX files"
## Bug description
Importing React components that include Next.js's `Link` into MDX files results in the following client-side error:

![image](https://user-images.githubusercontent.com/52197250/184024132-8b96b89a-85c2-43f3-95fd-0a7980252192.png)

## Notes
This issue has been reported in Contentlayer's repo: https://github.com/contentlayerdev/contentlayer/issues/288

[2022-11-24 16:14] #296 closed

[2022-11-24 18:23] StefanoCecere commented on #314
one of the major problems of Obsidian Publish is the lack of permalinks, and the problem of having a readeable vault, with filenames == titles. (here is a discussion https://forum.obsidian.md/t/ability-to-specify-permalinks-in-frontmatter/8989 )

i think we have two solutions:
1) keep the url system as is, but add a "title" metafield that gets rendered everywhere in the frontend.
this way would ke

[2022-11-24 23:27] PhilippeduPreez commented on #258
- Replaced titles with HTML in them with their post name instead
- Most content seem to convert decently with all image links working
- @khalilcodes will it work if we add /pdf/ to the list of downloaded attachments? Otherwise they will still be linked wrong

[2022-11-25 08:21] PhilippeduPreez commented on #258
@khalilcodes @rufuspollock  Links like these `[on the value of data](https://www.datopian.com/2022/04/07/on-the-value-of-data/)` will still cause problems atm. The tool is able to currently output year and month folders, so maybe we can add a day folder so these links will be functional?

[2022-11-25 08:24] olayway opened #320 "Server Error TypeError: (0 , _searchWEBPACK_IMPORTED_MODULE_7.SearchContext) is not a function"
When running `npx flowershow preview` on macOS Ventura:

![image](https://user-images.githubusercontent.com/52197250/203934879-eeebfe58-16c6-4eb4-b262-432ec08f1a1b.png)

[2022-11-25 08:39] olayway opened #321 "npm WARN ERESOLVE overriding peer dependency npm WARN While resolving: @reach/portal"
[code]

even though the latest kbar version lists React 18 as one of their peers:

https://github.com/timc1/kbar/blob/f557c85e48e2d20d8a87ae71c2830e88330ee0a4/package.json#L66-L69

Submitted an issue in the kbar repo: https://github.com/timc1/kbar/issues/256

_Originally posted by @olayway in https://github.com/flowershow/flowershow/issues/253#issuecomment-1313379286_

[2022-11-25 08:40] olayway commented on #321
Kbar team has confirmed that it should work fine with React 18 (and that they should probably switch to using another portal lib as @reach/portal is not maintained).

https://github.com/timc1/kbar/issues/256#issuecomment-1315895099

[2022-11-25 09:36] PhilippeduPreez commented on #258
@rufuspollock I confirmed with @olayway that the new flowershow blog setup should handle this correctly, then these links should still work

[2022-11-25 11:31] olayway commented on #320
I wonder why this error log includes webpack anyway, as next 13 is using turbopack...

[2022-11-25 11:44] olayway commented on #320
Ok, actually it has to be enabled with this flag:

‘next dev --turbo’

[2022-11-25 12:49] rufuspollock opened #322 "Authors for pages (blog and generally)"
Show authors on blog posts (and on pages generally if `authors` field is set).

See analysis in #35 (?)

<img width="719" alt="image" src="https://user-images.githubusercontent.com/180658/203989149-7951c759-7bfe-4283-bdb8-208afc57ccec.png">

## Acceptance

- [ ] Can see a list of authors with avatars and names underneath a blog title
- [ ] authors have an id and have a markdown page
- [ ] if you c

[2022-11-25 13:13] rufuspollock opened #324 "Design upgrade experience"
How do we upgrade an existing Flowershow installation.

If not customized at app / template level this is very easy: just publish with latest flowershow.

What about for sites which have customized (using the "ejected" template).

## Acceptance

* [ ] What is the outcome people want
  * [ ] What is it people are publishing
  * [ ] How should they lay it out for flowershow
* [ ] What is the concret

[2022-11-25 13:19] rufuspollock commented on #127
FIXED. DUPLICATE. Became this other issue which is done #257

[2022-11-25 13:19] #127 closed

[2022-11-25 13:21] rufuspollock commented on #122
Low priority IMO. Waiting for requests for this.

[2022-11-25 13:27] rufuspollock commented on #319
@olayway posted a minimal repro days ago and the owner has not yet got back to it.

[2022-11-25 13:28] rufuspollock commented on #289
WONTFIX. Nothing really here atm. Let's close and re-open if it comes up again and creates a problem.

Suspicion it relates to search components.

[2022-11-25 13:28] #289 closed

[2022-11-25 13:29] rufuspollock commented on #320
@olayway reports two users reported this on discord.

[2022-11-25 13:34] olayway commented on #154
FIXED with 3897be239dca944c4a256c26163b0a488a2e619c thanks to adding `cwd: process.cwd()` in `contentlayer.config.js`.

[2022-11-25 13:34] #154 closed

[2022-11-25 13:37] rufuspollock commented on #156
Can see the need but want to hear the need. Especially as can see this being a bit complex (? - perhaps very easy if you know js and can edit config.js?)

[2022-11-25 13:54] olayway opened #325 "Create a separate project in our monorepo for our Flowershow website"
## Acceptance

- [ ] `packages/template` **copied** to `apps/flowershow` (our Flowershow website)
- [ ] `packages/template` adjusted to be a pure Next.js app template
  - [ ] no monorepo related files, e.g. `project.json`
  - [ ] `eslintrc.json`, `tsconfig.json` and other adjusted (not referencing files in parent folders)
  - [ ] `eslint` added back as a dev dependency
  - [ ] starter `content` fo

[2022-11-25 15:28] rufuspollock commented on #45
@olayway can we open an issue for this upstream in contentlayer and then move this to blocked.

[2022-11-25 15:29] rufuspollock commented on #272
This is definitely annoying. Moving to someday maybe for now as not urgent and want to see if someone comes in who wants to fix this.

[2022-11-25 15:30] rufuspollock commented on #283
This is a nice to have for now.

[2022-11-25 15:33] rufuspollock commented on #211
@olayway my 2c is that this would be better addressed by logging output from the test connected (and, if possible, limiting that logging to if test fails).

Generally this is missing a bit of so that - i'm therefore not sure how significant this is. My plan would be to close as WONTFIX for now and reopen if something substantive.

[2022-11-25 15:34] rufuspollock commented on #211
WONTFIX. See previous comment.

[2022-11-25 15:34] #211 closed

[2022-11-25 15:36] rufuspollock commented on #219
Moving this to low for the moment. Need more of a sense of effort and what would be involved.

[2022-11-25 15:51] rufuspollock commented on #269
WONTFIX / DUPLICATE. Whilst i think it is reasonable to do this i think this relates to a bigger discussion about UX and behavior of self-publishing experience. I've moved the content of this to related discussion https://github.com/flowershow/flowershow/discussions/323

[2022-11-25 15:51] #269 closed

[2022-11-25 15:56] rufuspollock commented on #273
@olayway i think standard approach is discussed in https://github.com/nodejs/node/issues/684#issuecomment-240849243 - i think this is something we can just do ourselves.

[2022-11-25 15:57] rufuspollock commented on #271
WONTFIX. Seems a nice to have and users sophisticated enough to use this stuff know how to symlink so wontfix for now.

[2022-11-25 15:57] #271 closed

[2022-11-25 15:58] rufuspollock commented on #201
WONTFIX. very minor issue and something we won't support for now.

[2022-11-25 15:58] #201 closed

[2022-11-25 16:01] olayway commented on #205
Closed with #241

[2022-11-25 16:01] #205 closed

[2022-11-25 16:05] rufuspollock commented on #325
WONTFIX. we already have an approach where we "install" (ie. symlink) the latest "version" of flowershow to run the website on publishing or for local dev. One day we may want to publish the website more formally but this works for now.

[2022-11-25 16:25] rufuspollock opened #327 "[epic] Monorepo finalization"
Final refactor to a monorepo setup so that we can release more reliably, upgrades are easier, development is faster (e.g. updating remark plugin does not require multiple pull requests)

Questions:

- [x] what about CI tests for each package e.g. remark-wiki-link-plus (we start needing to filter on path changes or we run all tests all the time?)

## Job Stories

When developing flowershow i want a

[2022-11-26 04:58] ambitendencies opened #328 "11 High severity vulnerabilities"
Getting a lot of errors when trying to install flowershow to my markdown files location.
[code]

[2022-11-29 15:05] khalilcodes commented on #258
@PhilippeduPreez I came across two changes and opened a PR for your review on these.

1. Fix to titles being converted directly as slugs as seen below:
<img width="256" alt="Screen Shot 2022-11-29 at 6 56 48 PM" src="https://user-images.githubusercontent.com/42637597/204563685-8b8a5a1f-4ae1-4fe2-948b-1f379370941a.png">

2. Renaming the `coverImage` field to `image` in frontmatter. Since an image f

[2022-11-29 16:25] olayway commented on #328
@ambitendencies thank you for submitting the issue. I'm closing it as it is a duplicate of #200.

[2022-11-30 06:20] PhilippeduPreez commented on #258
@khalilcodes I opened a PR for your review on authors being added in frontmatter

![image](https://user-images.githubusercontent.com/44789132/204722467-f46197bf-7ba3-46f4-bb73-d19b9b2e0ae0.png)

[2022-11-30 10:38] danymat opened #333 "Installation of large repo"
Hello, I'm in the process of replacing my current obsidian publish with flowershow.
I will be using https://github.com/danymat/Brain for my ZK directory.

After installing flowershow, i'm trying to start it with `npx flowershow preview`. It starts the server but it seems to hang out. Is it because of the number of notes ? (+600).

Furthermore, I tried to build it and see if I can host it by myself

[2022-11-30 13:08] danymat commented on #333
Hello, I surrounded the `<=` within code blocks and it passes the warning.
Furthermore, by trying `flowershow preview`, i get parsing problems:
![image](https://user-images.githubusercontent.com/5306901/204804369-cd357503-6db1-4951-ac7d-e8a4a5ca8722.png)

From what i see, it is related to `'` in the file name.

[2022-11-30 13:17] #318 closed